                <div>
                  <table class="table table-responsive tableSkin" >
                      <tr>
                          <th title="">Protocol Number</th>
                          <th title="">PI</th>
                          <th title="">Protocol Title</th>
                          <th title="">Submission Type</th>
                          <th title="">Sub. Type Qualifier</th>
                          <th title="">Sub. Review Type</th>
                          <th title="">Submission Status</th>
                          <th title="">Submission Date</th>
                          <th title="">Action</th>
                      </tr>
                      <tr >
                          <td>1000911157</td>
                          <td>PAULETTE SMOCK</td>
                          <td>Test Protocol Title</td>
                          <td>Initial Protocol Application for Approval</td>
                          <td>Complaint</td>
                          <td>Full</td>
                          <td>Submitted to Committee</td>
                          <td>01/02/2019</td>
                          <td>
                          <ul class="actionButtonGroup"><li>
                          &nbsp;&nbsp;<a title="Open Protocol" href="#"><i class="fa fa-eye"></i></a>
                          </li></ul>
                          </td>
                      </tr>

                  </table>
              </div>