<div class="push4slideMenu pageMinHeight" id="scrollToTop">
	<div class="container-fluid pushFixedHeaderFooter">
		<div class="headerPush"></div>
		<!-- Session handling component -->
		<app-sessiontimeout> </app-sessiontimeout>
		   <section class="row" >
            <div id="myawa" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"><br>
               <div class="topHeading"> COMMITTEE</div>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
               
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                        <label>Id</label>
                        <span>{{this.result?.committee?.committeeId}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                        <label>Name</label>
                        <span>{{this.result?.committee?.committeeName}}</span>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                        <label>Type</label>
                        <span>{{this.result?.committee?.committeeType?.description}}</span>
                    </div>
                      <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                        <label>Home Unit</label>
                        <span>{{this.result?.committee?.homeUnitName}}</span>
                    </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                        <label>Last Updated User</label>
                        <span>{{this.result?.committee?.updateTimestamp | date:'shortDate'}} by {{this.result?.committee?.updateUser}}</span>
                    </div>
                </div>
            </div> 
            <!-- tabs in committee view -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <section class="row">
             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <ul class="tabsIcon" style="margin-top:10px;">
                    <li class="active" [ngClass]="{'active':currentTab=='schedule_home'}" data-target="#editWarning" data-toggle="modal">
	                    <a style="padding-top:-5px;" href="#" (click)="show_current_tab($event,'schedule_home');">
	                    <i  class="fa fa-calendar"></i><span>Schedule</span></a>
                    </li>
                    <li [ngClass]="{'active':currentTab=='minutes'}" data-target="#editWarning" data-toggle="modal">
	                    <a href="#" (click)="show_current_tab($event,'minutes');">
	                    <i class="fa fa-users"></i><span>Minutes</span></a>
                    </li>
                </ul>
            </div> 
		</section>
      </div>
    </section>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
	<div class="footerPush"></div>
	</div>
</div>

<!-- EDIT WARNING MODAL -->
<div class="modal fade mySkinDialog modalFallBack" *ngIf="showEditWarning"
id="editWarning" tabindex="-1" role="dialog"
aria-labelledby="deleteModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Warning</h5>

            <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>You are in the middle of editing an item. Do you want to save the progress?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btnSkin btn-secondary"
                data-dismiss="modal" data-toggle="modal" (click)="stayOnPage()">No</button>
            <button type="button" class="btnSkin btnSkinPrimary"
                (click)="saveAndContinue($event)" data-dismiss="modal">Save and Continue</button>
        </div>
    </div>
</div>
</div>
