<section class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div
					class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 row filterRadioBtns">
					<span>Filter Members : &nbsp;</span> <input type="checkbox"
						name="filterMember" value="active" checked>&nbsp;Active
					&nbsp;&nbsp; <input type="checkbox" name="filterMember"
						value="inactive">&nbsp;Inactive

				</div>

				<button class="addBtn" (click)="addMemberDiv($event)">
					<i class="fa fa-plus"></i>&nbsp;<span class="filterRadioBtns">Add
						Member</span>
				</button>
				<br>

				<div *ngIf="showAddMember==true"
					class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">




					<div class="row">
						<div
							class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
							<div class="row">
								<div
									class="col-xl-6 col-lg-2 col-md-2 col-sm-2 col-2 text-right">
									<label>Add Guest</label>
								</div>
								<div class="col-xl-6 col-lg-2 col-md-2 col-sm-2 col-2 text-left">
									<label class="containerCheckBox">Employee <input
										type="radio" name="ss" id="employeeRadio"> <span
										class="checkmark"></span>
									</label> <label class="containerCheckBox">Non Employee <input
										type="radio" name="ss" id="nonEmployeeRadio"> <span
										class="checkmark"></span>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-2"></div>
								<div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-2"></div>
								<div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-2">
									<span> <ng2-completer title="Enter Member"
											[(ngModel)]="memberSearchInput.fullName"
											[datasource]="dataServiceMemberList" [minSearchLength]="0"
											placeholder="Search"
											(ngModelChange)="areaChangeFunction(memberSearchInput.fullName)"
											(selected)="onSelectMember()"></ng2-completer></span>
								</div>
								<div class="col-xl-1 col-lg-3 col-md-3 col-sm-3 col-3">
									<button class="btnSkin btnSkinPrimary" (click)="addMember()">Add</button>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div *ngIf="memberExist">
					<div
						*ngFor="let member of resultLoadedById.committee.committeeMemberships">
						<div class="set">
							<div class="setHead">
								<span>{{member.personName}}({{member.active?'Active':'Inactive'}})</span><a
									href="#" (click)="showMembersTab($event,member.personId)"><i
									[ngClass]="(showMembers == true && member.personId == personId)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
							</div>
							<div class="setBody" style="display: block;"
								*ngIf="member.personId == personId && showMembers==true">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="borderBox col-12">
											<h4 class="borderBoxHeading">
												Person Details
												<button class="editBtn" *ngIf="editDetails ==false"
													(click)="showEditDetails()">
													<i class="fa fa-pencil"></i>
												</button>
												<button class="addBtn" *ngIf="editDetails"
													(click)="saveDetails()">
													<i class="fa fa-floppy-o"></i>
												</button>
												<button class="editBtn" *ngIf="editDetails"
													(click)="cancelEditDetails()">
													<i class="fa fa-times"></i>
												</button>
											</h4>
											<div class="pullSide">
												<table class="table tableSkin grid2">
													<tbody>
														<tr>
															<td><label>Person Name</label><br>
															<input type="text"
																[(ngModel)]="member.personDetails.fullName"
																disabled="true" /></td>
															<td><label>Membership Type</label><br>
															<select id="membershipType"
																[disabled]="editDetails==false"
																(change)="memberTypeChange(member,$event.target.value)">

																	<option
																		*ngFor="let type of memberList.committeeMembershipTypes"
																		(value)="type"
																		[selected]="member.committeeMembershipType.description==type.description">{{type.description}}</option>

															</select></td>
															<td><label> Term Start Date</label><br>
															<input type="date" [disabled]="editDetails==false"
																[(ngModel)]="member.termStartDate" [ngClass]="editClass" /></td>
															<td><label> Term End Date</label><br>
															<input type="date" [disabled]="editDetails==false"
																[(ngModel)]="member.termEndDate" [ngClass]="editClass" />
															</td>
														</tr>
														<tr>
															<td colspan="2"><label> Contact Notes</label><br>
															<textarea id="contactNotes"
																	[disabled]="editDetails==false"
																	[value]="member.contactNotes"
																	[(ngModel)]="member.contactNotes" [ngClass]="editClass"></textarea></td>
															<td colspan="2"><label> Training Notes</label><br>
															<textarea id="trainingNotes"
																	[disabled]="editDetails==false"
																	[value]="member.trainingNotes"
																	[(ngModel)]="member.trainingNotes"
																	[ngClass]="editClass"></textarea></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="borderBox">
											<h4 class="borderBoxHeading">Contact Information</h4>
											<div class="row">
												<div
													class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
													<div class="row">
														<div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6">
															<label>{{member.personDetails.firstName}} Primary
																Title (Primary) <br>
																{{member.personDetails.firstName}} Directory Title
																(Directory)
															</label><br> <span>{{member.personDetails.addressLine1}}<br>
																(Ofc){{member.personDetails.phoneNumber}}, (Mob) 9345
																7866 2356, (Fax) 321-321-1264
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- ROLES -->
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class=" borderBox col-12">
											<h4 class="borderBoxHeading">
												Roles
												<button class="editBtn" *ngIf="!addRole && !editRole"
													(click)="editRoles()" id="roleEditBtn">
													<i class="fa fa-pencil"></i>
												</button>
												<button id="rolesAddBtn" class="addBtn"
													*ngIf="!addRole && !editRole" (click)="addRoles($event)">
													<i class="fa fa-plus"></i>
												</button>
												<button class="addBtn" *ngIf="editRole"
													(click)="saveRole(member)">
													<i class="fa fa-floppy-o"></i>
												</button>
												<button class="editBtn" *ngIf="editRole"
													(click)="cancelRole()">
													<i class="fa fa-times"></i>
												</button>
											</h4>
											<div class="pullSide">
												<table class="table table-responsive tableSkin">
													<tr id="roleAddingRow" *ngIf="addRole">
														<td align="justify">Role :</td>
														<td><span> <ng2-completer title="Enter Role"
																	[(ngModel)]="membershipRoles.description"
																	[datasource]="dataServiceRoleList"
																	[minSearchLength]="0" placeholder="Search"
																	(selected)="onSelectRole()"></ng2-completer>
														</span></td>
														<td>
															<button class="btnSkin btnSkinPrimary"
																(click)="roleAddtoTable(member)">Add</button>
														</td>
													</tr>
													<tr>
														<th title="">Sl No</th>
														<th title="">Role</th>
														<th title="">Start Date</th>
														<th title="">End Date</th>
														<th title="" class="roleEditingActions">Action</th>

													</tr>

													<tr
														*ngFor="let role of  member.committeeMemberRoles;let i=index">
														<td>{{i+1}}</td>
														<td>{{role.membershipRoleDescription}}</td>
														<td><input type="date" [(ngModel)]="role.startDate"
															[disabled]="editRole==false" [ngClass]="editClass" /></td>
														<td><input type="date" [(ngModel)]="role.endDate"
															[disabled]="editRole==false" [ngClass]="editClass" /></td>
														<td class="roleEditingActions"
															(click)="deleteRole(role.membershipRoleDescription)"><i
															class="fa fa-trash-o"></i></td>

													</tr>

												</table>
											</div>
										</div>
										<div class=" borderBox col-12">

											<h4 class="borderBoxHeading">
												Expertise
												<button class="editBtn" id="expertiseEditBtn">
													<i class="fa fa-pencil"></i>
												</button>
												<button id="expertiseAddBtn" class="addBtn"
													(click)="addExpertises($event)">
													<i class="fa fa-plus"></i>
												</button>
											</h4>
											<div class="pullSide">
												<table class="table table-responsive tableSkin">
													<tr id="expertiseAddingRow" *ngIf="addExpertise">
														<td align="justify">Expertise In :</td>
														<td><span> <ng2-completer title="Enter Member"
																	[(ngModel)]="membershipExpertise.description"
																	[datasource]="dataServiceExpertiseList"
																	[minSearchLength]="0" placeholder="Search"
																	(selected)="onSelectExpertise()"></ng2-completer></span></td>
														<td>
															<button class="btnSkin btnSkinPrimary"
																(click)="expertiseAddtoTable(member)">Add</button>
														</td>
													</tr>
													<tr>
														<th title="">Sl No</th>
														<th title="">Code</th>
														<th title="">Area of Expertise</th>
														<th title="" class="expertiseEditingActions">Action</th>
													</tr>
													<tr
														*ngFor="let expertise of  member.committeeMemberExpertises;let i=index ">
														<td>{{i+1}}</td>
														<td>{{expertise.researchAreaCode}}</td>
														<td>{{expertise.researchAreaDescription}}</td>
														<td class="expertiseEditingActions"><i
															class="fa fa-trash-o"></i></td>
													</tr>

												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>