<div>
	<!--  <h4 class="borderBoxHeading">Other Actions</h4> -->
	<div>
		<table class="table table-responsive tableSkin">
			<tr>
				<td class="noData">Add :</td>
				<td><select
					(change)="OtherActionsTypeChange($event.target.value)"
					class="committeeBox">
						<option *ngFor="let type of result?.scheduleActItemTypes"
							(value)="type">{{type.description}}</option>
				</select></td>
				<td><input type="text" id="desc"
					[(ngModel)]="otherActionsDescription" class="scheduleBoxes"></td>
				<td><input type="button" value="Add"
					class="btnSkin btnSkinPrimary" (click)="addOtherActions()"></td>
			</tr>
			<tr>
				<th title="">Sl No</th>
				<th title="">Type</th>
				<th title="">Description</th>
				<th title="">Actions</th>
			</tr>
			<tr
				*ngFor="let otherAction of result?.committeeSchedule?.committeeScheduleActItems;let i=index">
				<td>{{i+1}}</td>
				<td>{{otherAction.scheduleActItemTypeDescription}}</td>
				<td>{{otherAction.itemDescription}}</td>
				<td>&nbsp;&nbsp;
					<ul class="actionButtonGroup">
						<li><a (click)="deleteOtherActions($event,otherAction)"
							aria-hidden="true"> <i class="fa fa-trash-o"></i>
						</a></li>
					</ul>
				</td>
			</tr>

		</table>
	</div>
</div>
