<div>
           <!--  <h4 class="borderBoxHeading">Other Actions</h4> -->
              <div>
            <table class="table table-responsive tableSkin" >
                <tr>
                    <th title="">Sl No</th>
                    <th title="">Type</th>
                    <th title="">Description</th>
                    <th title="">Actions</th>
                </tr>
                <tr>
                  <td class="noData">Add :</td>
                  <td>
                    <select>
                      <option value="select">Select</option>                    
                    </select>
                </td>
                  <td><input type="text" class="scheduleBoxes"></td>
                  <td><input type="button" value="Add" class="btnSkin btnSkinPrimary"></td>
                </tr>
                <tr >
                   <td>1</td>
                   <td>Adverse Event</td>
                   <td>Adverse Event happend during protocol #122538 during clinical trial. refer #23654</td>
                   <td>&nbsp;&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr >
                   <td>2</td>
                   <td>New Member Consideration</td>
                   <td>As Evana Tessy is leaving, need to consider membership of Santo Defry</td>
                   <td>&nbsp;&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
            </table>
          </div>
        </div>