
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             <div class="set">
                                    <div class="setHead">
                                        <span>Cost Sharing</span><a href="#" (click)="showCostsahringTab($event)"><i [ngClass]="(showCostsahring == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
                                    </div>
                                    <div class="setBody"  *ngIf="showCostsahring">                                    
                                        <table class="table tableSkin">
                                            <thead>
                                                <tr>
                                                    <th>Percentage</th>
                                                    <th>Type</th>
                                                    <th>Project Period</th>
                                                    <th>Commitment Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            	<tr *ngFor="let costSharing of result.costShareDetails">
                                            	<td>{{costSharing.cost_share_percentage}}</td>
                                            	<td>{{costSharing.cost_share_type}}</td>
                                            	<td>{{costSharing.project_period}}</td>
                                            	<td>{{costSharing.commitment_amount}}</td>
                                            	</tr>    
                                            </tbody>
                                        </table>                                                                                                                       
                                    </div>
                                </div>                             
                            </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                               <div class="set">
    
                                    <div class="setHead">
                                        <span>Rates</span><a href="#" (click)="showRatesTab($event)"><i [ngClass]="(showRates == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
                                    </div>
                                    <div class="setBody"  *ngIf="showRates">
                                    <!-- <p> -->
                                   <label>F&A Rates</label>
                                   <!-- </p> -->
                                         <table class="table tableSkin subHeads">
                                            <thead>
                                                <tr>
                                                    <th>Rate</th>
                                                    <th>Type</th>
                                                    <th>Fiscal Year</th>
                                                    <th>Start Date</th>
                                                    <th>Campus</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                           
                                                <tr *ngFor="let fandaDetails of result.fAndADetails">
                                            	<td>{{fandaDetails.applicable_idc_rate}}</td>
                                            	<td>{{fandaDetails.idc_rate_type}}</td>
                                            	<td>{{fandaDetails.fiscal_year}}</td>
                                            	<td>{{fandaDetails.start_date}}</td>
                                            	<td>{{fandaDetails.campus}}</td>
                                            	</tr>                                                
                                            </tbody>
                                       
                                        </table>
                                       <!--  <p> -->
                                          <label>Benefits Rates</label>
                                         <!--  </p> -->
                                        <table class="table tableSkin subHeads">
                                                <thead>
                                                    <tr>
                                                        <th>On Campus</th>
                                                        <th>Off Campus</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                           
		                                              <tr *ngFor="let benefitsRates of result.benefitsRates">
		                                            	<td>{{benefitsRates.on_campus}}</td>
		                                            	<td>{{benefitsRates.off_campus}}</td>
		                                            	<td>{{benefitsRates.comments}}</td>
		                                            	</tr> 
                                                </tbody>
                                            </table>
                               </div>                        
                            </div>
                        </div>
                    </div>
                </div>            
    