
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             <div class="set">
                                    <div class="setHead">
                                        <span>Cost Sharing</span><a href="#" (click)="showCostsahringTab($event)"><i [ngClass]="(showCostsahring == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
                                    </div>
                                    <div class="setBody"  *ngIf="showCostsahring">                                    
                                        <table class="table tableSkin">
                                            <thead>
                                                <tr>
                                                    <th>Percentage</th>
                                                    <th>Type</th>
                                                    <th>Project Period</th>
                                                    <th>Commitment Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>SparcStation 20</td>
                                                    <td>Sun Microsystems Computer Corp</td>
                                                    <td>S20TX1-21-32-p46</td>
                                                    <td>$3,752,22.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Mac 8100/80/CD Comp</td>
                                                    <td>Apple Computer,Inc.</td>
                                                    <td>M1884LL/A</td>
                                                    <td>$3,742,22.00</td>
                                                </tr>
                                                <tr>
                                                    <td>VRC21-PA-21* Color Mon</td>
                                                    <td>Mitsubishi</td>
                                                    <td>THN9105-5KTK</td>
                                                    <td>$1,733.00</td>
                                                </tr>     
                                            </tbody>
                                        </table>                                                                                                                       
                                    </div>
                                </div>                             
                            </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                               <div class="set">
    
                                    <div class="setHead">
                                        <span>Rates</span><a href="#" (click)="showRatesTab($event)"><i [ngClass]="(showRates == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
                                    </div>
                                    <div class="setBody"  *ngIf="showRates">
                                        <div class="row">
                                         <table class="table tableSkin subHeads">
                                            <p>
                                             <label>F&A Rates</label><br>
                                            <thead>
                                                <tr>
                                                    <th>Rate</th>
                                                    <th>Type</th>
                                                    <th>Fiscal Year</th>
                                                    <th>Start Date</th>
                                                    <th>Campus</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                           
                                                <tr>
                                                    <td class="report_type">lorem ipsum</td>
                                                    <td>lorem ipsum</td>
                                                    <td>lorem ipsum</td>
                                                    <td>lorem ipsum</td>
                                                    <td>lorem ipsum</td>
                                                </tr>                                                
                                            </tbody>
                                        </p>
                                        </table>
                                        <table class="table tableSkin subHeads">
                                                <p>
                                                 <label>Benefits Rates</label><br>
                                                <thead>
                                                    <tr>
                                                        <th>On Campus</th>
                                                        <th>Off Campus</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                           
                                                    <tr>
                                                        <td class="report_type">lorem ipsum</td>
                                                        <td>lorem ipsum</td>
                                                        <td>lorem ipsum</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </p>
                                            </table>
                                    </div>
                               </div> 
                               <div class="setBody">
                                    <div class="row">
                                     <!-- <table class="table tableSkin subHeads">
                                        <p>
                                         <label>Benefits Rates</label><br>
                                        <thead>
                                            <tr>
                                                <th>On Campus</th>
                                                <th>Off Campus</th>
                                                <th>Comments</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                           
                                            <tr>
                                                <td class="report_type">lorem ipsum</td>
                                                <td>lorem ipsum</td>
                                                <td>lorem ipsum</td>
                                            </tr>
                                            
                                        </tbody>
                                    </p>
                                    </table> -->
                                </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>            
    