<div class="push4slideMenu pageMinHeight" id="scrollToTop">
	<div class="container-fluid pushFixedHeaderFooter">
		<div class="headerPush"></div>
		<!-- Session handling component -->
		<app-sessiontimeout> </app-sessiontimeout>
		<!-- Expanded view for awards from pichart -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf="this.piechartIndex=='AWARD'">
			<h5 class="pageHeader">{{this.awardsheading}}</h5>
			<div class="borderBox">
				<table class="table table-responsive tableSkin">
					<thead>
						<tr>
							<th (click)="sortResult('awardNumber',currentPosition)"
								title="Click to sort by Award">Award <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'awardNumber')}"></span></th>
							<th (click)="sortResult('accountNumber',currentPosition)"
								title="Click to sort by Account">Account <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'accountNumber')}"></span></th>
							<th (click)="sortResult('title',currentPosition)"
								title="Click to sort by Title">Title <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span></th>
							<th (click)="sortResult('sponsor',currentPosition)"
								title="Click to sort by Sponsor">Sponsor <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span></th>
							<th (click)="sortResult('pi',currentPosition)"
								title="Click to sort by PI">PI <span class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'pi')}"></span></th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngIf="nullPiechartAwardData">
							<td colspan=6>No Requests Found !</td>
						</tr>
						<tr
							*ngFor="let awardDetails of serviceRequestList | slice:begin:end">
							<td>{{awardDetails[3]}}</td>
							<td>{{awardDetails[4]}}</td>
							<td>{{awardDetails[5]}}</td>
							<td>{{awardDetails[6]}}</td>
							<td width="8%">{{awardDetails[7]}}</td>
							<td>
								<ul class="actionButtonGroup">
									<li><a title="Open {{awardDetails[0]}}"
										[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardDetails[1]+'%26docId%3D'+awardDetails[2]+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'"><i
											class="fa fa-eye"></i> </a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Expanded view for propsals from pichart -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf="this.piechartIndex=='PROPOSAL'">
			<h5 class="pageHeader">{{ this.proposalheading}}</h5>
			<div class="borderBox">
				<table class="table table-responsive tableSkin">
					<thead>
						<tr>
							<th (click)="sortResult('proposalNumber',currentPosition)"
								title="Click to sort by Proposal">Proposal <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'proposalNumber')}"></span></th>
							<th (click)="sortResult('title',currentPosition)"
								title="Click to sort by Title" width="40%">Title <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span></th>
							<th (click)="sortResult('leadUnit',currentPosition)"
								title="Click to sort by Lead Unit">Sponsor <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'leadUnit')}"></span></th>
							<th (click)="sortResult('sponsor',currentPosition)"
								title="Click to sort by Sponsor">Proposal Type <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span></th>
							<th (click)="sortResult('deadLinedate',currentPosition)"
								title="Click to sort by Deadline">PI <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'deadLinedate')}"></span></th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngIf="nullPiechartProposalData">
							<td colspan=6>No Requests Found !</td>
						</tr>
						<tr
							*ngFor="let proposalDetails of serviceRequestList | slice:begin:end">
							<td>{{proposalDetails[1]}}</td>
							<td>{{proposalDetails[2]}}</td>
							<td>{{proposalDetails[3]}}</td>
							<td>{{proposalDetails[4]}}</td>
							<td>{{proposalDetails[5]}}</td>
							<td>
								<ul class="actionButtonGroup">
									<li><a title="Open {{proposalDetails[0]}}"
										[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+proposalDetails[0]+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'"><i
											class="fa fa-eye"></i> </a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Expanded view for Awarded proposals from donut chart -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf="this.donutchartIndex=='AWARDED'">
			<h5 class="pageHeader">{{ this.donutAwardHeading}}</h5>
			<div class="borderBox">
				<table class="table table-responsive tableSkin">
					<thead>
						<tr>
							<th (click)="sortResult('proposalNumber',currentPosition)"
								title="Click to sort by Proposal">Proposal <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'proposalNumber')}"></span></th>
							<th (click)="sortResult('title',currentPosition)"
								title="Click to sort by Title" width="40%">Title <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span></th>
							<th (click)="sortResult('leadUnit',currentPosition)"
								title="Click to sort by Lead Unit">Type <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'leadUnit')}"></span></th>
							<th (click)="sortResult('sponsor',currentPosition)"
								title="Click to sort by Sponsor">Activity Type <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span></th>
							<th (click)="sortResult('deadLinedate',currentPosition)"
								title="Click to sort by Deadline">PI <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'deadLinedate')}"></span></th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngIf="nullDonutchartAwardData">
							<td colspan=6>No Requests Found !</td>
						</tr>
						<tr
							*ngFor="let awardedProposalDetails of serviceRequestList | slice:begin:end">
							<td>{{awardedProposalDetails[1]}}</td>
							<td>{{awardedProposalDetails[2]}}</td>
							<td>{{awardedProposalDetails[7]}}</td>
							<td>{{awardedProposalDetails[5]}}</td>
							<td>{{awardedProposalDetails[3]}}</td>
							<td>
								<ul class="actionButtonGroup">
									<li><a title="Open {{awardedProposalDetails[0]}}"
										[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FinstitutionalProposalHome.do%3FmethodToCall%3DdocHandler%26docId%3D'+awardedProposalDetails[0]+'%26command%3DdisplayDocSearchView%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'"><i
											class="fa fa-eye"></i> </a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Expanded view for In progress propsals from donut chart -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf="this.donutchartIndex=='INPROGRESS'">
			<h5 class="pageHeader">{{ this.donutProposalHeading}}</h5>
			<div class="borderBox">
				<table class="table table-responsive tableSkin">
					<thead>
						<tr>
							<th (click)="sortResult('proposalNumber',currentPosition)"
								title="Click to sort by Proposal">Proposal <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'proposalNumber')}"></span></th>
							<th (click)="sortResult('title',currentPosition)"
								title="Click to sort by Title" width="40%">Title <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span></th>
							<th (click)="sortResult('leadUnit',currentPosition)"
								title="Click to sort by Lead Unit">Type <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'leadUnit')}"></span></th>
							<th (click)="sortResult('sponsor',currentPosition)"
								title="Click to sort by Sponsor"> Budget <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span></th>
							<th (click)="sortResult('deadLinedate',currentPosition)"
								title="Click to sort by Deadline">PI <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'deadLinedate')}"></span></th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngIf="nullDonutchartInprogressData">
							<td colspan=6>No Requests Found !</td>
						</tr>
						<tr
							*ngFor="let proposalDetails of serviceRequestList | slice:begin:end">
							<td>{{proposalDetails[1]}}</td>
							<td>{{proposalDetails[2]}}</td>
							<td>{{proposalDetails[5]}}</td>
							<td>{{proposalDetails[6]}}</td>
							<td>{{proposalDetails[3]}}</td>
							<td>
								<ul class="actionButtonGroup">
									<li><a title="Open {{proposalDetails[0]}}"
										[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+proposalDetails[0]+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'"><i
											class="fa fa-eye"></i> </a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Expanded view for submitted proposals -->

		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf=" this.summaryIndex=='PROPOSALSSUBMITTED'">
			<h5 class="pageHeader">{{this.summaryheading }}</h5>
			<div class="borderBox">
				<table class="table table-responsive tableSkin">
					<thead>
						<tr>
							<th (click)="sortResult('proposalNumber',currentPosition)"
								title="Click to sort by Proposal">Proposal <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'proposalNumber')}"></span></th>
							<th (click)="sortResult('title',currentPosition)"
								title="Click to sort by Title" width="40%">Title <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span></th>
							<th (click)="sortResult('leadUnit',currentPosition)"
								title="Click to sort by Lead Unit">Sponsor <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'leadUnit')}"></span></th>
							<th (click)="sortResult('sponsor',currentPosition)"
								title="Click to sort by Sponsor">Budget <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span></th>
							<th (click)="sortResult('deadLinedate',currentPosition)"
								title="Click to sort by Deadline">PI <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'deadLinedate')}"></span></th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngIf="nullResearchSummaryProposalSubmittedData">
							<td colspan=6>No Requests Found !</td>
						</tr>
						<tr
							*ngFor="let proposalDetails of serviceRequestList | slice:begin:end">
							<td>{{proposalDetails[1]}}</td>
							<td>{{proposalDetails[2]}}</td>
							<td>{{proposalDetails[3]}}</td>
							<td>{{proposalDetails[4]}}</td>
							<td>{{proposalDetails[5]}}</td>
							<td>
								<ul class="actionButtonGroup">
									<li><a title="Open {{proposalDetails[0]}}"
										[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+proposalDetails[0]+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'"><i
											class="fa fa-eye"></i> </a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Expanded view for inprogress proposals -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf=" this.summaryIndex=='PROPOSALSINPROGRESS'">
			<h5 class="pageHeader">{{this.summaryheading}}</h5>
			<div class="borderBox">
				<table class="table table-responsive tableSkin">
					<thead>
						<tr>
							<th (click)="sortResult('proposalNumber',currentPosition)"
								title="Click to sort by Proposal">Proposal <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'proposalNumber')}"></span></th>
							<th (click)="sortResult('title',currentPosition)"
								title="Click to sort by Title" width="40%">Title <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span></th>
							<th (click)="sortResult('leadUnit',currentPosition)"
								title="Click to sort by Lead Unit">Sponsor <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'leadUnit')}"></span></th>
							<th (click)="sortResult('sponsor',currentPosition)"
								title="Click to sort by Sponsor">Budget <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span></th>
							<th (click)="sortResult('deadLinedate',currentPosition)"
								title="Click to sort by Deadline">PI <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'deadLinedate')}"></span></th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngIf="nullResearchSummaryProposalInprogressData">
							<td colspan=6>No Requests Found !</td>
						</tr>
						<tr
							*ngFor="let proposalDetails of serviceRequestList | slice:begin:end">
							<td>{{proposalDetails[1]}}</td>
							<td>{{proposalDetails[2]}}</td>
							<td>{{proposalDetails[3]}}</td>
							<td>{{proposalDetails[4]}}</td>
							<td>{{proposalDetails[5]}}</td>
							<td>
								<ul class="actionButtonGroup">
									<li><a title="Open {{proposalDetails[0]}}"
										[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+proposalDetails[0]+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'"><i
											class="fa fa-eye"></i> </a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Expanded view for active awards -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf=" this.summaryIndex=='AWARDSACTIVE'">
			<h5 class="pageHeader">{{this.summaryheading}}</h5>
			<div class="borderBox">
				<table class="table table-responsive tableSkin">
					<thead>
						<tr>
							<th (click)="sortResult('awardNumber',currentPosition)"
								title="Click to sort by Award">Award <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'awardNumber')}"></span>
							</th>
							<th (click)="sortResult('accountNumber',currentPosition)"
								title="Click to sort by Account">Account <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'accountNumber')}"></span>
							</th>
							<th (click)="sortResult('pi',currentPosition)"
								title="Click to sort by PI">Title <span class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'pi')}"></span>
							</th>
							<th (click)="sortResult('unitName',currentPosition)"
								title="Click to sort by Lead Unit">Sponsor <span
								class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'unitName')}"></span>
							</th>
							<th (click)="sortResult('sponsor',currentPosition)"
								title="Click to sort by Sponsor">PI <span class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span>
							</th>
							<th (click)="sortResult('pi',currentPosition)"
								title="Click to sort by PI">Budget <span class="sortorder"
								[ngClass]="{reverse:reverse, sortorder: (sortBy == 'pi')}"></span>
							</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngIf="nullResearchSummaryAwardData">
							<td colspan=6>No Requests Found !</td>
						</tr>
						<tr
							*ngFor="let awardDetails of serviceRequestList | slice:begin:end">
							<td width="8%">{{awardDetails[2]}}</td>
							<td>{{awardDetails[3]}}</td>
							<td>{{awardDetails[4]}}</td>
							<td>{{awardDetails[5]}}</td>
							<td>{{awardDetails[6]}}</td>
							<td>{{awardDetails[7]}}</td>
							<td>
								<ul class="actionButtonGroup">
									<li><a title="Open {{awardDetails[0]}}"
										[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardDetails[0]+'%26docId%3D'+awardDetails[1]+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'"><i
											class="fa fa-eye"></i> </a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="footerPush"></div>
	</div>
</div>
