<div class="push4slideMenu" id="scrollToTop">
	<!-- silder menu -->
	<div class="slideMenu">
		<ul class="iconMenu">
			<li class="active"><a href="#" (click)="myDashboard($event)">
					<i class="fa fa-tachometer"></i> <span>My Dashboard</span>
			</a></li>
			<li><a
				[href]="outputPath+'/kc-krad/landingPage?__login_user='+userName+'&kcComp=true'">
					<i class="fa fa-user"></i> <span>My Portal</span>
			</a></li>
			<li><a
				[href]="outputPath+'/portal.do?selectedTab=portalSystemAdminBody&__login_user='+userName+'&kcComp=true'">
					<i class="fa fa-cog"></i> <span>System Admin Portal</span>
			</a></li>
		</ul>
		<div class="pullBack d-md-none d-lg-none d-xl-none">
			<i class="fa fa-arrow-left"></i>
		</div>
	</div>

	<div class="container-fluid pushFixedHeaderFooter">
		<!-- <div class="headerPush"></div> -->
		<header class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<ul class="headerMenu">
					<li><a href="#" class="logo"> 
						<!-- <span class="logoIcon"><img
								[src]="logo" class="" /></span> <span class="brandText">Polus
								University</span> -->
						<span ><img [src]="logo" class="" /></span> 
					</a></li>
					<li *ngIf="isAdmin == false"><a> <span class="userName">Dashboard
								of {{fullName}} (PI)</span> <i style="cursor: pointer;"
							class="fa fa-user" (click)="logout()" title="logout"></i>
					</a></li>
					<li *ngIf="isAdmin"><a> <span class="userName">Dashboard
								of {{fullName}} (Admin) </span> <i style="cursor: pointer;"
							class="fa fa-user" (click)="logout()" title="logout"></i>
					</a></li>
					<li title="notification" #notificationBar><a href="#"
						id="showNotify" (click)="userNotification($event)"> <i
							class="fa fa-bell"></i>
					</a>
						<ul class="notificationBox" *ngIf="toggleBox"
							[ngClass]="{'notificationBoxHeight':showmoreClicked == true}"
							(clickOutside)="onClickOutside($event)">
							<ng-container
								*ngIf="morethanThreeNotification==true && (showmoreClicked==false)">
							<li *ngFor="let notification of first3notificationList">
								<p *ngIf="notification.actionRequestCd == 'C'">
									<u>COMPLETE</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'A'">
									<u>APPROVE</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'F'">
									<u>FYI</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'K'">
									<u>ACKOWLEDGEMENT</u>
								</p> <a
								[href]="outputPath+'/kew/DocHandler.do?docId='+notification.documentId+'&command=displayActionListView'+'&__login_user='+userName+'&kcComp=true'">{{notification.docTitle}}</a>
							</li>
							</ng-container>
							<ng-container *ngIf="morethanThreeNotification == false">
							<li *ngFor="let notification of notificationList">
								<p *ngIf="notification.actionRequestCd == 'C'">
									<u>COMPLETE</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'A'">
									<u>APPROVE</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'F'">
									<u>FYI</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'K'">
									<u>ACKOWLEDGEMENT</u>
								</p> <a
								[href]="outputPath+'/kew/DocHandler.do?docId='+notification.documentId+'&command=displayActionListView'+'&__login_user='+userName+'&kcComp=true'">{{notification.docTitle}}</a>
							</li>
							</ng-container>
							<ng-container
								*ngIf="morethanThreeNotification==true && (showmoreClicked==true)">
							<li *ngFor="let notification of notificationList">
								<p *ngIf="notification.actionRequestCd == 'C'">
									<u>COMPLETE</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'A'">
									<u>APPROVE</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'F'">
									<u>FYI</u>
								</p>
								<p *ngIf="notification.actionRequestCd == 'K'">
									<u>ACKOWLEDGEMENT</u>
								</p> <a
								[href]="outputPath+'/kew/DocHandler.do?docId='+notification.documentId+'&command=displayActionListView'+'&__login_user='+userName+'&kcComp=true'">{{notification.docTitle}}</a>
							</li>
							</ng-container>
							<li
								*ngIf="morethanThreeNotification == true && (showmoreNeeded == true)"><a
								href="#" (click)="showMore($event)" class="showMore"> Show
									more </a></li>
						</ul></li>
					<li title="configuration" #configurationBar><a href="#"
						(click)="configureDashboard($event)"><i class="fa fa-cog"></i></a>
						<ul class="notificationBox" *ngIf="showConfiguringOption">
							<li>Expenditure Volume <input
								#expenditureVolumWidgetCheckBox
								id="expenditureVolumWidgetCheckBox" type="checkbox"
								[checked]="expenditureVolumWidget"
								(change)="onChangeOfexpenditureVolumWidget(expenditureVolumWidgetCheckBox.checked)" />
							</li>
							<li>Research Summary <input #researchSummaryWidgetCheckBox
								id="researchSummaryWidgetCheckBox" type="checkbox"
								[checked]="researchSummaryWidget"
								(change)="onChangeOfresearchSummaryWidget(researchSummaryWidgetCheckBox.checked)" />
							</li>
							<li>Awarded Proposal By Sponsors <input
								#awardedProposalBySponsorWidgetCheckBox
								id="awardedProposalBySponsorWidgetCheckBox" type="checkbox"
								[checked]="awardedProposalBySponsorWidget"
								(change)="onChangeOfawardedProposalBySponsorWidget(awardedProposalBySponsorWidgetCheckBox.checked)" />
							</li>
							<li>Award By Sponsor Types <input
								#awardBysponsorTypesWidgetCheckBox
								id="awardBysponsorTypesWidgetCheckBox" type="checkbox"
								[checked]="awardBysponsorTypesWidget"
								(change)="onChangeOfawardBysponsorTypesWidget(awardBysponsorTypesWidgetCheckBox.checked)" />
							</li>
							<li>In Progress Proposal By Sponsor <input
								#inProgressproposalBySponsorWidgetCheckBox
								id="inProgressproposalBySponsorWidgetCheckBox" type="checkbox"
								[checked]="inProgressproposalBySponsorWidget"
								(change)="onChangeOfinProgressproposalBySponsorWidget(inProgressproposalBySponsorWidgetCheckBox.checked)" />
							</li>
							<li>Proposal by Sponsor Types <input
								#proposalBySponsorTypesWidgetCheckBox
								id="proposalBySponsorTypesWidgetCheckBox" type="checkbox"
								[checked]="proposalBySponsorTypesWidget"
								(change)="onChangeOfproposalBySponsorTypesWidget(proposalBySponsorTypesWidgetCheckBox.checked)" />
							</li>
						</ul></li>
					<li><a href="#" title="help"><i class="fa fa-question"></i>
					</a></li>
					<li class="d-md-none d-lg-none d-xl-none"><a href="#"
						id="mobileMenu"><i class="fa fa-bars"></i> </a></li>
				</ul>
			</div>
		</header>
	</div>
</div>
