 <div>
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
              <div class="row">
              <div class="col-xl-6 col-lg-2 col-md-2 col-sm-2 col-2 text-right">
               <label>Add Guest</label>
               </div>
              <div class="col-xl-6 col-lg-2 col-md-2 col-sm-2 col-2 text-left">
              <label class="containerCheckBox">Employee
                      <input type="radio" name="guestType" checked>
                      <span class="checkmark"></span>
                  </label>
                   <label class="containerCheckBox">Non Employee
                      <input type="radio" name="guestType">
                      <span class="checkmark"></span>
                      </label>
               </div>
              </div>
              <div class="row">
                  <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-2">
                  	<label>Add Guest</label>
                  </div>
                  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-2">
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-2">
                      <input type="text"/>
                  </div>
                  <div class="col-xl-1 col-lg-3 col-md-3 col-sm-3 col-3">
                      <button class="btnSkin btnSkinPrimary">Add</button>
                  </div>
                   <div class="col-xl-4 col-lg-3 col-md-3 col-sm-3 col-12 text-right">
                    <i class="fa fa-user-o" aria-hidden="true"> &nbsp;Guest</i> &nbsp;
                   <i class="fa fa-user-circle" aria-hidden="true">&nbsp; Alternate</i>
                  </div>
              </div>
          </div>
        </div>
        <br>
           <table class="table tableSkin">
               <thead>
                   <tr>
                       <th>Sl no</th>
                       <th>Name</th>
                       <th>Alternate For</th>
                       <th>Action</th>
                       <th id="scheduleCommentHeader">Comments</th>
                   </tr>
               </thead>
               <tbody>                   
                   <tr>
                       <td>1</td>
                       <td> Della Woods</td>
                       <td></td>
                       <td>
                           <ul class="actionButtonGroup statusIndicator">
                               <li><a href="#" class="present current" title="Present"><i class="fa fa-check-circle"></i></a></li>
                               <li><a><i id="dellaComment" class="fa fa-comment-o" aria-hidden="true"></i></a></li>
                           </ul>
                       </td>
                       <td id="dellaCommentBox">Dellas comment</td>
                   </tr>
                   <tr>
                       <td>2</td>
                       <td><i class="fa fa-user-o" aria-hidden="true"></i>  Peter Sam</td>
                       <td></td>
                       <td>
                           <ul class="actionButtonGroup statusIndicator">
                               <li><a href="#" class="present " title="Present"><i class="fa fa-check-circle"></i></a></li>
                               <li><a><i id="peterSamComment" class="fa fa-comment-o" aria-hidden="true"></i></a></li>
                           </ul>
                       </td>
                       <td id="peterSamCommentBox">Peter's comments</td>
                   </tr>
                   <tr>
                       <td>3</td>
                       <td><i class="fa fa-user-circle" aria-hidden="true"></i>  Inez Chew</td>
                       <td>Peter Sam</td>
                       <td>
                           <ul class="actionButtonGroup statusIndicator">
                               <li><a href="#" class="present current" title="Present"><i class="fa fa-check-circle"></i></a></li>
                               <li><a><i id="InezChewComment" class="fa fa-comment-o" aria-hidden="true"></i></a></li> 
                           </ul>
                       </td>
                       <td id="InezChewCommentBox">Member was present from the begining.</td>
                   </tr>
               </tbody>
           </table>
       </div>