<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>FibiComp</title>
 </head>
 <body class="loginPage">
	<div class="container-fluid">
		<div class="row">
			<div
				class="col-12 col-sm-12 col-md-8 m-md-auto col-lg-6 m-lg-auto col-xl-6 m-xl-auto">
				<div class="row pushDown">
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 loginBanner">
						<p>Fibi Research Administration goes live at Sidra Medical and
							Research center, Doha</p>
					</div>
					<div
						class="col-8 m-auto col-sm-8 m-sm-auto col-md-6 m-md-auto col-lg-6 m-lg-auto col-xl-6 m-xl-auto loginArea">
						<ul>
							<li><h3>Fibi Login</h3></li>
							<li><input type="text" placeholder="Username"
								id="login_uname" name='username' value='' autofocus="autofocus"
								[(ngModel)]="credentials.username" /></li>
							<li><input type="password" placeholder="Password"
								id="login_pwd" name='password' value=''
								[(ngModel)]="credentials.password" /></li>
							<li><button class="btnSkin btnSkinPrimary" value="Login"
									id="LOGIN-BTN" (click)="login()">Login</button></li>
							<li id="login-failure" style="color: red;" *ngIf="loginFail"><p>Login
									Error</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/design.js"></script>
  </body>
</html>
