<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="borderBox">
                            <h4 class="borderBoxHeading">
                                Details
                            </h4>
                            <div class="pullSide">
                                <table class="table tableSkin grid2" >
                                <tbody>
                                    <tr >
                                        <td><label style="
    										font-weight: bold;">Activity Type</label><br>Distribution</td>
                                        <td><label >Award Type</label><br>Grant</td>
                                        <td><label >Account Type</label><br>Equipments</td>
                                    </tr>
                                    <tr>
                                        <td><label style="  font-weight: bold;">Sponsor Award#</label><br>54862</td>
                                        <td colspan="2"><label style="  font-weight: bold;">Title</label><br>The Distribution of Video Programming</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="borderBox">
                            <h4 class="borderBoxHeading">
                                Dates & Amounts
                            </h4>
                            <div class="pullSide">
                                <table class="table tableSkin grid2">
                                <tbody>
                                    <tr>
                                        <td><label style=" font-weight: bold;">Award Effective Date</label><br>12/12/2017</td>
                                        <td><label style=" font-weight: bold;">Obligation start</label><br>12/15/2017</td>
                                        <td><label style=" font-weight: bold;">Obligation end</label><br>10/25/2019</td>
                                    </tr>
                                    <tr>
                                        <td><label style=" font-weight: bold;">Notice Date</label><br>11/12/2017</td>
                                        <td ><label style=" font-weight: bold;">Obligated Amount</label><br>$125,256</td>
                                   
                                        <td><label style=" font-weight: bold;">Anticipated Amount</label><br>$145,850</td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="borderBox">
                            <h4 class="borderBoxHeading">
                                Personnel
                            </h4>
                            <div class="pullSide">
                                <table class="table tableSkin grid2">
                                <tbody>
                                    <tr>
                                        <td><label style=" font-weight: bold;">Investigators</label><br>(PI) Barret, William J (School of Architecture)
                                            <br>(CO-I) Peter, Silver M (School of Chemistry) 
                                            <br>(CO-I) Juan, Anna Mary (School of Chemistry)
                                            <br><br>
                                            <label style=" font-weight: bold;">Keypersons</label><br>(Member) Barret, William J (School of Architecture)
                                            

                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="borderBox">
                            <h4 class="borderBoxHeading">
                                Contacts
                            </h4>
                            <div class="pullSide">
                                <table class="table tableSkin grid2">
                                <tbody>
                                    <tr>
                                        <td><label >Sponsor</label><br>(Awarding Office Contact 1) Schimmel, Aimee -tron@fdi.com 762-568-9756
                                            <br>(Financial Contact) Samuel, Zenker - fwrng@fdi.com 879-569-8963 
                                            
                                            <br><br>
                                            <label style=" font-weight: bold;">Unit</label><br>(Unit Head) Peter Fredrik - jack@univ.com 896-568-9656
                                            

                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    <div class="borderBox col-12">
                    <h4 class="borderBoxHeading" >
                                Funded Proposals
                            </h4>
                    <table class="table table-responsive tableSkin">
                      
                            <tr>
                                <th 
                                    title="Click to sort by Proposal">Proposal#
                                </th>
                                <th 
                                    title="Click to sort by Title" >PI 
                                </th>
                                <th
                                    title="Click to sort by Lead Unit">Lead Unit 
                                </th>
                                <th 
                                    title="Click to sort by Sponsor">Sponsor 
                                </th>
                                <th 
                                    title="Click to sort by Deadline">Start Date
                                </th>
                                <th 
                                    title="Click to sort by Status">End Date
                                </th>
                                <th 
                                    title="Click to sort by Status">Total Cost
                                </th>
                                
                            </tr>
                       
                           
                            <tr >
                                <td>000016</td>
                                <td>Fedric, Henry</td>
                                <td>12568-School of Architecture</td>
                                <td>NASA-OHR</td>
                                <td>12/25/2017</td>
                                <td>10/24/2019</td>
                                <td>$556,230</td>
                                
                            </tr>
                       
                    </table>
                </div>
            </div>