  <div class="push4slideMenu">
    <div class="slideMenu">
        <ul class="iconMenu">
            <li class="active"><a href="#"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
            <li><a href="#"><i class="fa fa-user"></i><span>My Portal</span></a></li>
            <li><a href="#"><i class="fa fa-cog"></i><span>System Admin Portal</span></a></li>
        </ul>
        <div class="pullBack d-md-none d-lg-none d-xl-none"><i class="fa fa-arrow-left"></i></div>
    </div>
    
    <div class="container-fluid pushFixedHeaderFooter">
       <div class="headerPush"></div>
        <section class="row" >
            <div id="myawa" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <span> MY AWARD</span>
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">
               <button class="closeResultCard"><i class="fa fa-times"></i></button>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-10 col-sm-10 col-10">
                        <label>Award#:Account</label>
                        <span>{{awardNumber}}:{{accountNumber}}</span>
                    </div>
                    
                  
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4">
                        <label>Lead Unit</label>
                        <span>{{leadUnitName}}</span>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-8 col-sm-8 col-8">
                        <label>Sponsor</label>
                        <span>{{sponsorName}}</span>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4">
                        <label>Status</label>
                        <span>{{awardStatus}}</span>
                    </div>
                      <div class="col-xl-2 col-lg-4 col-md-8 col-sm-8 col-8">
                        <label>Last Update</label>
                        <span>{{lastUpdate}} by Berret</span>
                    </div>
                </div>
            </div> 
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <ul class="tabsIcon" style="margin-top:10px;">
                    <li [ngClass]="{'active':currentTab=='award_home'}" ><a style="padding-top:-5px;" href="#" (click)="show_current_tab($event,'award_home');"><i  class="fa fa-graduation-cap"></i><span>Award</span></a></li>
                    <li [ngClass]="{'active':currentTab=='award_reports_and_terms'}" ><a href="#" (click)="show_current_tab($event,'award_reports_and_terms');"><i class="fa fa-thumbs-up"></i><span>Terms & Reports</span></a></li>
                    <li [ngClass]="{'active':currentTab=='award_hierarchy'}" ><a href="#"  (click)="show_current_tab($event,'award_hierarchy');"><i class="fa fa-certificate"></i><span>Hierarchy</span></a></li>
                    <li [ngClass]="{'active':currentTab=='award_commitments'}" ><a href="#"  (click)="show_current_tab($event,'award_commitments');"><i class="fa fa-pencil-square-o"></i><span>Commitments</span></a></li>
                </ul>
            </div> 
          
        </section>
          <div *ngIf="currentTab =='award_home'">
            	<app-award-home></app-award-home>
            </div>
            <div *ngIf="currentTab =='award_reports_and_terms'">
            	<award-reports-and-terms></award-reports-and-terms>
            </div>
             <div *ngIf="currentTab =='award_hierarchy'">
            	<app-award-hierarchy></app-award-hierarchy>
            </div>
            <div *ngIf="currentTab =='award_commitments'">
            	<app-award-commitments></app-award-commitments>
            </div>
        <div class="footerPush"></div>
    </div>
     
  </div>