@CHARSET "ISO-8859-1";
ul.sb-results-dropdown-menu {
    margin: 0;
    padding: 0;   
    max-height: 400px;
    overflow-y: scroll; 
    background: white;
    border-left: 1px #26A69A solid;
    border-right: 1px #26A69A solid;
    border-radius: 10px;
}

ul.sb-results-dropdown-menu > li {    
    position: relative;
    border-bottom: 1px dotted #ccc;
    height: 47px;
    padding: 10px;
    list-style: none;
    color: #26A69A;
}
ul.sb-results-dropdown-menu > li:hover {
	 background: #e0eaff; 
	 color: #26A69A;
}

ul.sb-results-dropdown-menu > li span {
    line-height:27px;
    padding-left:5px;
    cursor:pointer;
    white-space: nowrap;
    display: block;
    font-size: 0.8em; 
}   

ul.sb-results-dropdown-menu > li:last-child {
    border-bottom: 0;
}

.sb-seachresults {
    position: absolute;
    top: 32px;   
    z-index: 5;
    width: 100%;    
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.18); 
}

.sb-message{
    position: absolute;
    top: 46px;         
    background: #f7f7f7;
    height: 20px;  
    width:100%;
    box-shadow: #eaeaea 1px 1px;  
}

.sb-message span {
    color: dimgrey;
    text-align: right;
    line-height: 10px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

/* Modal Content/Box */
.modal-content-pop {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    font-size: .9em
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.demo-class {
	cursor: pointer;
}

.demo-class:hover {
	color: #26A69A !important;	
}

#pichart_award{
	cursor:pointer;
}

#pichart_divEvolution{
	cursor:pointer;
}

.forSkipSchedule {
	font-size: 0.8em;
	padding: 0 1em;
}

.forSkipSchedule li {
	color: #444444;
	text-align: center;
	margin: 1rem auto;
}

.sp-color {
	color: #00bcd4 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* style for minutes*/
.fallback {
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 900;
	overflow-y: auto;
}

.forEntityType {
	width: 60% !important;
	margin-left: 10px !important;
	font-size: 0.85em;
}

.forTextAreaEntry {
	color: #5F5F5F !important;
	height: auto !important;
}

.searchBtn {
	border: 0;
	background: transparent;
	font-size: 1.2em;
	padding: 0;
	cursor: pointer;
	color: #5e5e5e;
}

.searchBtn:hover {
	color: #17BFBF;
}

#contigencyModal {
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 950;
	overflow-y: scroll;
}

#skippedSchedules {
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 960;
	overflow-y: auto;
}

#member_search {
	padding-left: 10px;
}

.filterElement {
	border-top: none !important;
	border-bottom: 1px solid #e9ecef;
	font-size: 0.8em;
	vertical-align: middle;
}

#filterWarning {
	font-size: 0.85em;
}

#warnNoattachment {
	z-index: 999 !important;
}

.searchMessage {
	font-size: 0.85em;
	color: #424242;
	padding-left: 10px;
}

.font {
	font-size: 0.85em !important;
}

.addTextBtn {
	border: 0;
	background: transparent;
	font-size: 0.85em;
	padding: 0;
	cursor: pointer;
	color: #5e5e5e;
	font-weight: bold;
}

.addTextBtn:hover {
	color: #17BFBF;
}


.tableSkin label {
	color: #26A69A;
}

.hoverColor:hover {
	color: #17BFBF;
}

.radioElement {
	font-size: 1em !important;
	border: none !important;
}

.radioElement>li {
	padding-bottom: 0px !important;
}

.greenLabel {
	color: #26A69A;
	font-size: 1.1em;
}

.memberSearchBox {
	margin-bottom: 0px;
	font-size: 1rem !important;
}

.noDataExists {
	color: #9E9E9E;
}

.keywordList {
	padding-left: 0px !important;
}

.keywordListItem {
	padding: 5px 5px 5px 0px;
}

.keywordClose:hover {
	color: #26A69A;
}

.dateBox {
	width: 100% !important;
}

.routeLogModalHeader {
	background-color: #00bcd4;
}

.routeLogModalHeader>.modal-title {
	color: #fff;
}

#routelogHeader {
	background-color: #26A69A;
}

#routelogHeader>th {
	color:#fff;
}

.commentBox {
	width: 100%;
	line-height: 30px;
	padding: 0 5px;
	border-radius: 20px;
	opacity: 1 !important;
	border: 1px #DEDEDE solid;
	font-size: 0.85em;
}

#routeLogTable {
	margin-bottom: 0px;
}

#routeLogBody {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/* style  for reviewer */
.reviewTable {
	margin-bottom: 0px;
}
.reviewTable thead th {
	font-size: .95em !important;
}
.reviewTable tr th {
	font-size: .95em !important;
}
.reviewTable tr td {
	font-size: .95em !important;
}
.reviewTable>tbody>tr>td {
	font-size: .95em !important;
}
#reviewHeading, #reviewAssignModalTable {
	border-top : 0px;
	padding-top: 0px;
}
.collapseExpand {
	color: #bdbdbd;
	background: #FEFEFE;
	border: 5px #FEFEFE solid;
	font-size: 1.1em;
	line-height: normal;
}
.collapseExpand:hover {
	color: #26A69A;
}

