          <div>
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
              <div class="row">
                  <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-2">
                    
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-2">
                      
                  </div>
                  <div class="col-xl-1 col-lg-3 col-md-3 col-sm-3 col-3">
                      
                  </div>
                   <div class="col-xl-6 col-lg-3 col-md-3 col-sm-3 col-12 text-right">
                    <ul class="addAttachmentsIcon actionButtonGroup">
							<li><a title="Open" href="#"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Attachment</a></li>
					</ul>
                  </div>
              </div>
          </div>
        </div>
            <table class="table table-responsive tableSkin" >
                <tr>
                    <th title="">Sl Number</th>
                    <th title="">Attachment Type</th>
                    <th title="">Description</th>
                    <th title="">File Name</th>
                    
                </tr>
                <tr >
                    <td>1</td>
                    <td>Schedule</td>
                    <td>Schedule</td>
                    <td>Business_Proposal_BTC_Private_Ticker.pdf</td>
                </tr>
            </table>
            </div>