<div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="row">
		<div id="myawa" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		</div>
		<div *ngIf="result" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div>
				<h4 class="borderBoxHeading">
					<div class="row">
						<div  class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
							{{this.result?.committeeSchedule?.committeeName}} # {{this.result?.committeeSchedule?.committeeId}} Meeting {{this.result?.committeeSchedule?.meetingDate}}</div>
						<div
							class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
							Last Agenda Generated : 01/15/2017</div>
					</div>
				</h4>
				<div class="borderBox">
					<table class="table tableSkin grid2">
						<tbody>
							<tr>
								<td><label> Schedule Date</label><br>{{this.result?.committeeSchedule?.scheduledDate}}</td>
								<td><label>Meeting Date</label><br>{{this.result?.committeeSchedule?.meetingDate}}</td>
								<td><label>Status</label><br>{{this.result?.committeeSchedule?.scheduleStatus?.description}}</td>
								<td><label>Place</label><br>{{this.result?.committeeSchedule?.place}}</td>
								<td><label>Time</label><br>{{this.result?.committeeSchedule?.time | date:'shortTime'}}</td>
								
							</tr>
							<tr>
								<td><label>Submission Deadline</label><br>{{this.result?.committeeSchedule?.protocolSubDeadline}}</td>
								<td><label>Max Protocols</label><br>{{this.result?.committeeSchedule?.maxProtocols}}</td>

								<td><label>Start Time</label><br>{{this.result?.committeeSchedule?.startTime | date:'shortTime'}}</td>
								<td><label>End Time</label><br>{{this.result?.committeeSchedule?.endTime | date:'shortTime'}}</td>
								<td><label>Available to reviewers</label><br>{{this.result?.committeeSchedule?.availableToReviewers}}</td>
							</tr>
							<tr>
								<td colspan="8"><label>Comments</label><br></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div>
				<div>
					<div>
						<div class="setHead">
							<span>Protocol Submitted</span><a href="#"
								(click)="showProtocolsTab($event)"><i
								[ngClass]="(showProtocol == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
						</div>
						<div class="setBody" *ngIf="showProtocol">
							<app-protocol-submitted></app-protocol-submitted>
						</div>
					</div>
				</div>
				<div class="setHead">
					<span>Attendance</span><a href="#"
						(click)="showAttendanceTab($event)"><i
						[ngClass]="(showAttendance == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showAttendance">
					<app-schedule-attendance></app-schedule-attendance>
				</div>

				<div class="setHead">
					<span>Other Actions</span><a href="#"
						(click)="showOtherActionsTab($event)"><i
						[ngClass]="(showOtherActions == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showOtherActions">
					<app-schedule-other-actions></app-schedule-other-actions>
				</div>
				<div class="setHead">
					<span>Attachment</span><a href="#"
						(click)="showAttachmentTab($event)"><i
						[ngClass]="(showAttachment == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showAttachment">
					<app-schedule-attachments></app-schedule-attachments>
				</div>
			</div>
		</div>
	</div>
</div>
