<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="row">
		<div id="myawa" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div>
				<h4 class="borderBoxHeading">
					<div class="row">
						<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
							KC IRB 1 #91 Meeting 07/20/2010</div>
						<div
							class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
							Last Agenda Generated : 05/15/2010</div>
					</div>
				</h4>
				<div class="borderBox">
					<table class="table tableSkin grid2">
						<tbody>
							<tr>
								<td><label> Schedule Date</label><br>07/20/2010</td>
								<td><label>Meeting Date</label><br></td>
								<td><label>Status</label><br>Scheduled</td>
								<td><label>Place</label><br>EHOB 341</td>
								<td><label>Time</label><br>01:00 PM</td>

							</tr>
							<tr>
								<td><label>Submission Deadline</label><br>07/17/2010</td>
								<td><label>Max Protocols</label><br>22</td>

								<td><label>Start Time</label><br>12:00 AM</td>
								<td><label>End Time</label><br>12:00 AM</td>
								<td><label>Available to reviewers</label><br>No</td>
							</tr>
							<tr>
								<td colspan="8"><label>Comments</label><br></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div>
				<div>
					<div>
						<div class="setHead">
							<span>Protocol Submitted</span><a href="#"
								(click)="showProtocolsTab($event)"><i
								[ngClass]="(showProtocol == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
						</div>
						<div class="setBody" *ngIf="showProtocol">
							<app-protocol-submitted></app-protocol-submitted>
						</div>
					</div>
				</div>
				<div class="setHead">
					<span>Attendance</span><a href="#"
						(click)="showAttendanceTab($event)"><i
						[ngClass]="(showAttendance == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showAttendance">
					<app-schedule-attendance></app-schedule-attendance>
				</div>

				<div class="setHead">
					<span>Other Actions</span><a href="#"
						(click)="showOtherActionsTab($event)"><i
						[ngClass]="(showOtherActions == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showOtherActions">
					<app-schedule-other-actions></app-schedule-other-actions>
				</div>
				<div class="setHead">
					<span>Attachment</span><a href="#"
						(click)="showAttachmentTab($event)"><i
						[ngClass]="(showAttachment == true)?'fa fa-chevron-circle-up':'fa fa-chevron-circle-down'"></i></a>
				</div>
				<div class="setBody" *ngIf="showAttachment">
					<app-schedule-attachments></app-schedule-attachments>
				</div>
			</div>
		</div>
	</div>
</div>
