<div class="push4slideMenu pageMinHeight" id="scrollToTop">
	<div class="container-fluid pushFixedHeaderFooter">
		<div class="headerPush"></div>
		<!-- Session handling component -->
		<app-sessiontimeout> </app-sessiontimeout>
		<section class="row">

			<div id="myawa"
				class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<br>
				<div class="h6">COMMITTEE</div>
			</div>

			<div
				class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard">

				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
						<label>Id</label> <span><input type="text"
							[ngClass]="constantClass"
							[(ngModel)]="result.committee.committeeId"
							[disabled]="mode=='view'" /></span>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
						<label>Name</label> <span><input type="text"
							[ngClass]="class" [(ngModel)]="result.committee.committeeName"
							[disabled]="mode=='view' && editFlag == false" /></span>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
						<label>Type</label> <span><input type="text"
							[ngClass]="constantClass"
							[(ngModel)]="result.committee.committeeType.description"
							[disabled]="mode=='view'" /></span>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
						<label>Home Unit</label> <span> <ng2-completer
								[inputClass]="class"
								[disabled]="mode=='view' && editFlag == false"
								title="Enter Home Unit"
								[(ngModel)]="result.committee.homeUnitName"
								[datasource]="dataServiceHomeUnit" [minSearchLength]="0"
								(ngModelChange)="homeChangeFunction(result.committee.homeUnitName)"
								(selected)="onHomeSelect()"></ng2-completer></span> <span
							*ngIf="mode =='view'"> </span>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
						<label>Last Updated User</label> <span><input type="text"
							class="committeeBoxNotEditable" [(ngModel)]="lastUpdated"
							disabled /></span>
					</div>
					<!-- <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                        <label>Updated User</label>
                        <span>admin</span>
                    </div> -->
				</div>
			</div>
			<!-- tabs in committee view -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<section class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<ul class="tabsIcon" style="margin-top: 10px;">
							<li class="active"
								[ngClass]="{'active':currentTab=='committee_home'}"><a
								style="padding-top: -5px;" href="#"
								(click)="show_current_tab($event,'committee_home');"><i
									class="fa fa-calendar"></i><span>Committee</span></a></li>
							<li [ngClass]="{'active':currentTab=='committee_members'}"><a
								href="#" (click)="show_current_tab($event,'committee_members');"><i
									class="fa fa-users"></i><span>Members</span></a></li>
						</ul>
					</div>
				</section>

			</div>
		</section>
		<div *ngIf="currentTab =='committee_home'">
			<app-committee-home [Id]="result.committee.committeeId"
				[Name]="result.committee.committeeName"
				[Type]="result.committee.committeeType.description"
				[Unit]="result.committee.homeUnitNumber"
				(editFlag)="recieveFlag($event)" (modeFlag)="recievemode($event)"
				[unitName]="result.committee.homeUnitName"
				[reviewTypes]=" result.reviewTypes" [areaList]="areaList"></app-committee-home>
		</div>
		<div *ngIf="currentTab =='committee_members'">
			<app-committee-members></app-committee-members>
		</div>
		<div class="footerPush"></div>
	</div>
</div>
