<div class="push4slideMenu pageMinHeight" id="scrollToTop">
	<div class="container-fluid pushFixedHeaderFooter">
		<div class="headerPush"></div>
		<!-- Session timeout handling component -->
		<app-sessiontimeout> </app-sessiontimeout>
		<section class="row">
			<!-- tabs of fibi 3.0 dashboard-->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<ul class="tabs">
					<li role="presentation"
						[ngClass]="{'active': currentPosition == 'SUMMARY'}"><a
						(click)="showTab('SUMMARY')"> Research Summary </a></li>
					<li [ngClass]="{'active': currentPosition == 'AWARD'}"><a
						(click)="showTab('AWARD')"> Award </a></li>
					<!-- <li [ngClass]="{'active': currentPosition == 'PROPOSAL'}"><a
						(click)="showTab('PROPOSAL')"> Proposal </a></li> -->
					<li [ngClass]="{'active': currentPosition == 'IRB'}"><a
						(click)="showTab('IRB')"> IRB{{message}} </a></li>
					<li [ngClass]="{'active': currentPosition == 'IACUC'}"><a
						(click)="showTab('IACUC')"> IACUC </a></li>
					<li [ngClass]="{'active': currentPosition == 'DISCLOSURE'}"><a
						(click)="showTab('DISCLOSURE')"> Disclosures </a></li>
					<li [ngClass]="{'active': currentPosition == 'COMMITTEE'}"><a
						(click)="showTab('COMMITTEE')"> Committee</a></li>
					<li [ngClass]="{'active': currentPosition == 'SCHEDULE'}"><a
						(click)="showTab('SCHEDULE')"> Schedules</a></li>
					<li [ngClass]="{'active': currentPosition == 'GRANT'}"><a
							(click)="showTab('GRANT')"> Grant Call</a></li>
					<li [ngClass]="{'active': currentPosition == 'SMU_PROPOSAL'}"><a
								(click)="showTab('SMU_PROPOSAL')"> Application</a></li>
					<li *ngIf="isAdmin" [ngClass]="{'active': currentPosition == 'GRANTREPORT'}"><a
						(click)="showTab('GRANTREPORT')"> Reports</a></li>
				</ul>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="currentPosition != 'SUMMARY'">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<!-- elastic search components -->
						<div class="row">
							<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
								*ngIf="currentPosition == 'AWARD'">
								<app-elastic-search
									(selected)="autocompleteAwardChanged($event)"
									(found)="foundItemsChanged($event)"
									(messageEvent)="receiveResultCard($event)"
									[tabPosition]="currentPosition"
									[placeText]="'Search: Award#, Account#, Title, PI Name, Lead Unit, Sponsor'"></app-elastic-search>
							</div>
							<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
								*ngIf="currentPosition == 'PROPOSAL'">
								<app-elastic-search
									(selected)="autocompleteProposalChanged($event)"
									(found)="foundItemsChanged($event)"
									(messageEvent)="receiveResultCard($event)"
									[tabPosition]="currentPosition"
									[placeText]="'Search: Proposal#, Title, PI Name, Lead Unit, Sponsor, Status'"></app-elastic-search>
							</div>
							<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
								*ngIf="currentPosition == 'IRB'">
								<app-elastic-search (selected)="autocompleteIrbChanged($event)"
									(found)="foundItemsChanged($event)"
									(messageEvent)="receiveResultCard($event)"
									[tabPosition]="currentPosition"
									[placeText]="'Search: Protocol#, Type, Title, PI Name, Lead Unit, Status'"></app-elastic-search>
							</div>
							<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
								*ngIf="currentPosition == 'IACUC'">
								<app-elastic-search
									(selected)="autocompleteIacucChanged($event)"
									(found)="foundItemsChanged($event)"
									(messageEvent)="receiveResultCard($event)"
									[tabPosition]="currentPosition"
									[placeText]="'Search: Protocol#, Type, Title, PI Name, Lead Unit, Status'"></app-elastic-search>
							</div>
							<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
								*ngIf="currentPosition == 'DISCLOSURE'">
								<app-elastic-search
									(selected)="autocompleteDisclosureChanged($event)"
									(found)="foundItemsChanged($event)"
									(messageEvent)="receiveResultCard($event)"
									[tabPosition]="currentPosition"
									[placeText]="'Search: Disclosure#,  PI Name, Disposition, Status'"></app-elastic-search>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"
								*ngIf="currentPosition !== 'SCHEDULE' && currentPosition !== 'COMMITTEE' &&  currentPosition !== 'GRANT' &&  currentPosition !== 'SMU_PROPOSAL' &&  currentPosition !== 'GRANTREPORT'">
								<a id="advcanceSearch" href="#" class="linkButton"
									(click)="advanceSearch($event)"> <i class="fa fa-cog"></i>
									Advanced Search
								</a>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div *ngIf="displayToggle"
						class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 advancedTools">
						<!-- advance search options -->
						<div class="row">
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
								<input type="text" placeholder="{{placeholder1}}"
									[(ngModel)]="advanceSearchCriteria.property1" />
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
								<input type="text" placeholder="{{placeholder2}}"
									[(ngModel)]="advanceSearchCriteria.property2" />
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
								<input type="text" placeholder="{{placeholder3}}"
									[(ngModel)]="advanceSearchCriteria.property3" />
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
								<input type="text" placeholder="{{placeholder4}}"
									[(ngModel)]="advanceSearchCriteria.property4" />
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-6">
										<button class="btnSkin btnSkinPrimary"
											(click)="searchUsingAdvanceOptions(currentPage)">Search</button>
									</div>
									<div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-6">
										<button class="btnSkin btnSkinSecondary" (click)="clear()">Clear</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard"
					*ngIf="(resultAward==true)">
					<button class="closeResultCard" (click)="closeResultTab()">
						<i class="fa fa-times"></i>
					</button>
					<!-- award elastic search  results-->
					<div class="row" *ngIf="currentPosition == 'AWARD'">
						<div class="col-xl-1 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Account# </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardId+'%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									accountNo }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Award# </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardId+'%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									awardNo }}</a>
							</span>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-8">
							<label> Title </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardId+'%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									title }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-1 col-md-4 col-sm-4 col-4">
							<label> Sponsor </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardId+'%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									sponsor }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> PI </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardId+'%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									piName }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Lead Unit </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26placeHolderAwardId%3D'+awardId+'%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.award.home.Award%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									departmentName }}</a>
							</span>
						</div>
					</div>
					<!-- proposal elastic search  results-->
					<div class="row" *ngIf="currentPosition == 'PROPOSAL'">
						<div class="col-xl-1 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Proposal# </label> <span> <a
								[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+documentNo+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									proposalNo }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> PI Name </label> <span> <a
								[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+documentNo+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									piName }}</a>
							</span>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-8">
							<label> Title </label> <span> <a
								[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+documentNo+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									title }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-1 col-md-4 col-sm-4 col-4">
							<label> Lead Unit </label> <span> <a
								[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+documentNo+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									departmentName }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Sponsor </label> <span> <a
								[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+documentNo+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									sponsor }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Status </label> <span> <a
								[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+documentNo+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									status }}</a>
							</span>
						</div>
					</div>
					<!-- IRB elastic search  results-->
					<div class="row" *ngIf="currentPosition == 'IRB'">
						<div class="col-xl-1 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Protocol# </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.irb.Protocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									protocolNo }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Protocol Type </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.irb.Protocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									type }}</a>
							</span>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-8">
							<label> Title </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.irb.Protocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									title }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-1 col-md-4 col-sm-4 col-4">
							<label> Lead Unit </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.irb.Protocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									leadUnit }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Status </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.irb.Protocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									status }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> PI Name </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.irb.Protocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									piName }}</a>
							</span>
						</div>
					</div>
					<!-- IACUC elastic search  results-->
					<div class="row" *ngIf="currentPosition == 'IACUC'">
						<div class="col-xl-1 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Protocol# </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FiacucProtocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.iacuc.IacucProtocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									protocolNo }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Protocol Type </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FiacucProtocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.iacuc.IacucProtocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									type }}</a>
							</span>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-8">
							<label> Title </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FiacucProtocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.iacuc.IacucProtocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									title }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-1 col-md-4 col-sm-4 col-4">
							<label> Lead Unit </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FiacucProtocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.iacuc.IacucProtocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									leadUnit }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Status </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FiacucProtocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.iacuc.IacucProtocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									status }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> PI Name </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FiacucProtocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+documentNo+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.iacuc.IacucProtocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'">{{
									piName }}</a>
							</span>
						</div>
					</div>
					<!-- DISCLOSURE elastic search  results-->
					<div class="row" *ngIf="currentPosition == 'DISCLOSURE'">
						<div class="col-xl-2 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Disclosure # </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FcoiDisclosure.do%3FdocId%3D'+documentNo+'%26docTypeName%3DCoiDisclosureDocument%26methodToCall%3DdocHandler%26command%3DdisplayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									disclosureNo }}</a>
							</span>
						</div>
						<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Name </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FcoiDisclosure.do%3FdocId%3D'+documentNo+'%26docTypeName%3DCoiDisclosureDocument%26methodToCall%3DdocHandler%26command%3DdisplayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									disFullName }}</a>
							</span>
						</div>
						<div class="col-xl-4 col-lg-2 col-md-8 col-sm-8 col-8">
							<label> Disposition </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FcoiDisclosure.do%3FdocId%3D'+documentNo+'%26docTypeName%3DCoiDisclosureDocument%26methodToCall%3DdocHandler%26command%3DdisplayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									disposition }}</a>
							</span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
							<label> Status </label> <span> <a
								[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href= '+outputPath+'%2FcoiDisclosure.do%3FdocId%3D'+documentNo+'%26docTypeName%3DCoiDisclosureDocument%26methodToCall%3DdocHandler%26command%3DdisplayDocSearchView&__login_user='+userName+'&kcComp=true'">{{
									status }}</a>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
				*ngIf="currentPosition == 'SUMMARY'">
				<!-- Research Summary -->
				<div class="row">
					<div *ngIf="dashboardExpenditureVolumeWidget"
						class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="borderBox">
							<h4 class="borderBoxHeading">Expenditures Volume</h4>
							<areachart></areachart>
						</div>
					</div>
					<div *ngIf="dashboardResearchSummaryWidget"
						class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="borderBox">
							<table class="table table-responsive tableSkin">
								<thead>
									<tr>
										<th>Research Summary</th>
										<th class="text-right">Count</th>
										<th class="text-right">Total Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let summaryView of summaryViews">
										<td *ngIf="summaryView[1] != 0" class="demo-class"
											(click)="expandedView(summaryView[0])"><span>{{summaryView[0]}}</span></td>
										<td *ngIf="summaryView[1] == 0"><span>{{summaryView[0]}}</span></td>
										<td class="text-right">{{summaryView[1]}}</td>
										<td class="text-right" *ngIf="summaryView[2] != null">
											{{summaryView[2] | currency:'USD':true}}</td>
										<td class="text-right" *ngIf="summaryView[2] == null">$
											0.00</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div *ngIf="dashboardawardedProposalBySponsorWidget"
						class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="borderBox">
							<awarded-proposal-donut-chart></awarded-proposal-donut-chart>
						</div>
					</div>
					<div *ngIf="dashboardAwardBysponsorTypesWidget"
						class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="borderBox">
							<award-by-sponsor-piechart></award-by-sponsor-piechart>
						</div>
					</div>
					<div *ngIf="dashboardinProgressproposalBySponsorWidget"
						class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="borderBox">
							<in-progress-proposal-donut-chart></in-progress-proposal-donut-chart>
						</div>
					</div>
					<div *ngIf="dashboardproposalBySponsorTypesWidget"
						class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="borderBox">
							<proposal-by-sponsor-piechart></proposal-by-sponsor-piechart>
						</div>
					</div>
				</div>
			</div>

			<!-- Award -->

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="(currentPosition == 'AWARD')">
				<div class="row">
					<div
						class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-left">
						<span class="linkButtonGroup"> <a
							[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FawardHome.do%3FmethodToCall%3DdocHandler%26command%3Dinitiate%26docTypeName%3DAwardDocument%26returnLocation%3D'+outputPath+'%252Fkc-krad%252FlandingPage%253FviewId%253DKc-LandingPage-RedirectView&methodToCall=start&__login_user='+userName+'&kcComp=true'">
								<i class="fa fa-plus"></i> Create Award
						</a>
						</span>
					</div>
				</div>
				<div class="borderBox"
					*ngIf="((isAdmin==false) || (adminAdvanceSearch == true)) && (adminClear==false)">
					<table class="table table-responsive tableSkin"
						*ngIf="this.result?.awardViews?.length !== 0">
						<thead>
							<tr>
								<th (click)="sortResult('awardNumber',currentPosition)"
									title="Click to sort by Award">Award <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'awardNumber')}"></span>
								</th>
								<th (click)="sortResult('accountNumber',currentPosition)"
									title="Click to sort by Account">Account <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'accountNumber')}"></span>
								</th>
								<th (click)="sortResult('title',currentPosition)"
									title="Click to sort by Title">Title <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span>
								</th>
								<th (click)="sortResult('unitName',currentPosition)"
									title="Click to sort by Lead Unit">Lead Unit <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'unitName')}"></span>
								</th>
								<th (click)="sortResult('sponsor',currentPosition)"
									title="Click to sort by Sponsor">Sponsor <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span>
								</th>
								<th (click)="sortResult('fullName',currentPosition)"
									title="Click to sort by PI">PI <span class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'fullName')}"></span>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let awardDetails of serviceRequestList | slice:begin:end">
								<td width="8%">{{awardDetails.awardNumber}}</td>
								<td>{{awardDetails.accountNumber}}</td>
								<td>{{awardDetails.title}}</td>
								<td>{{awardDetails.unitName}}</td>
								<td>{{awardDetails.sponsor}}</td>
								<td>{{awardDetails.fullName}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a title="Open {{awardDetails.awardNumber}}"
											routerLink='/award'
											[queryParams]={awardId:awardDetails.awardId}><i
												class="fa fa-eye "></i> </a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.result?.awardViews?.length == 0"
						class="noDataOnChart">No awards Found</div>
				</div>
			</div>
			<!-- Proposal -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="(currentPosition == 'PROPOSAL')">
				<div class="row">
					<div
						class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-left">
						<span class="linkButtonGroup"> <a
							[href]="outputPath+'/kc-pd-krad/proposalDevelopment?viewId=PropDev-InitiateView&methodToCall=docHandler&command=initiate&__login_user='+userName+'&kcComp=true'">
								<i class="fa fa-plus"></i> Create Proposal
						</a>
						</span>
					</div>
				</div>
				<div class="borderBox"
					*ngIf="((isAdmin==false) || (adminAdvanceSearch == true)) && (adminClear==false)">
					<table class="table table-responsive tableSkin"
						*ngIf="this.result?.proposalViews?.length !== 0">
						<thead>
							<tr>
								<th (click)="sortResult('proposalNumber',currentPosition)"
									title="Click to sort by Proposal">Proposal <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'proposalNumber')}"></span>
								</th>
								<th (click)="sortResult('title',currentPosition)"
									title="Click to sort by Title" width="40%">Title <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span>
								</th>
								<th (click)="sortResult('leadUnit',currentPosition)"
									title="Click to sort by Lead Unit">Lead Unit <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'leadUnit')}"></span>
								</th>
								<th (click)="sortResult('sponsor',currentPosition)"
									title="Click to sort by Sponsor">Sponsor <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'sponsor')}"></span>
								</th>
								<th (click)="sortResult('deadLinedate',currentPosition)"
									title="Click to sort by Deadline">Deadline <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'deadLinedate')}"></span>
								</th>
								<th (click)="sortResult('status',currentPosition)"
									title="Click to sort by Status">Status <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'status')}"></span>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let proposalDetails of serviceRequestList | slice:begin:end">
								<td>{{proposalDetails.proposalNumber}}</td>
								<td>{{proposalDetails.title}}</td>
								<td>{{proposalDetails.leadUnit}}</td>
								<td>{{proposalDetails.sponsor}}</td>
								<td>{{proposalDetails.deadLinedate}}</td>
								<td>{{proposalDetails.status}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a title="Open {{proposalDetails.proposalNumber}}"
											[href]="outputPath+'/kc-pd-krad/proposalDevelopment?methodToCall=docHandler&docId='+proposalDetails.documentNumber+'&command=displayDocSearchView&__login_user='+userName+'&kcComp=true'"><i
												class="fa fa-eye"></i> </a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.result?.proposalViews?.length == 0"
						class="noDataOnChart">No proposals Found</div>
				</div>
			</div>
			<!-- IRB -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="(currentPosition == 'IRB')">
				<div class="row">
					<div
						class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-left">
						<span class="linkButtonGroup"> <a
							[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26command%3Dinitiate%26docTypeName%3DProtocolDocument%26returnLocation%3D'+outputPath+'%252Fkc-krad%252FlandingPage%253FviewId%253DKc-LandingPage-RedirectView&methodToCall=start&__login_user='+userName+'&kcComp=true'"><i
								class="fa fa-plus"></i> Create IRB Protocol </a>
						</span>
					</div>
				</div>

				<div class="borderBox"
					*ngIf="((isAdmin==false) || (adminAdvanceSearch == true)) && (adminClear==false)">
					<table class="table table-responsive tableSkin"
						*ngIf="this.result?.protocolViews?.length !== 0">
						<thead>
							<tr>
								<th (click)="sortResult('protocolNumber',currentPosition)"
									title="Click to sort by Protocol">Protocol <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'protocolNumber')}"></span>
								</th>
								<th (click)="sortResult('title',currentPosition)"
									title="Click to sort by Title" width="40%">Title <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span>
								</th>
								<th (click)="sortResult('leadUnit',currentPosition)"
									title="Click to sort by Lead Unit">Lead Unit <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'leadUnit')}"></span>
								</th>
								<th (click)="sortResult('protocolType',currentPosition)"
									title="Click to sort by Protocol Type">Protocol Type <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'protocolType')}"></span>
								</th>
								<th (click)="sortResult('status',currentPosition)"
									title="Click to sort by Status">Status <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'status')}"></span>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let IRBDetails of serviceRequestList | slice:begin:end">
								<td>{{IRBDetails.protocolNumber}}</td>
								<td>{{IRBDetails.title}}</td>
								<td>{{IRBDetails.leadUnit}}</td>
								<td>{{IRBDetails.protocolType}}</td>
								<td>{{IRBDetails.status}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a title="Open {{IRBDetails.protocolNumber}}"
											[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FprotocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+IRBDetails.documentNumber+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.irb.Protocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'"><i
												class="fa fa-eye"></i> </a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.result?.protocolViews?.length == 0"
						class="noDataOnChart">No IRB data Found</div>
				</div>
			</div>
			<!-- IACUC -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="(currentPosition == 'IACUC')">
				<div class="row">
					<div
						class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-left">
						<span class="linkButtonGroup"> <a
							[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FiacucProtocolProtocol.do%3FmethodToCall%3DdocHandler%26command%3Dinitiate%26docTypeName%3DIacucProtocolDocument%26returnLocation%3D'+outputPath+'%252Fkc-krad%252FlandingPage%253FviewId%253DKc-LandingPage-RedirectView&methodToCall=start&__login_user='+userName+'&kcComp=true'"><i
								class="fa fa-plus"></i> Create IACUC Protocol </a>
						</span>
					</div>
				</div>
				<div class="borderBox"
					*ngIf="((isAdmin==false) || (adminAdvanceSearch == true)) && (adminClear==false)">
					<table class="table table-responsive tableSkin"
						*ngIf="this.result?.iacucViews?.length !== 0">
						<thead>
							<tr>
								<th (click)="sortResult('protocolNumber',currentPosition)"
									title="Click to sort by Protocol">Protocol <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'protocolNumber')}"></span>
								</th>
								<th (click)="sortResult('title',currentPosition)"
									title="Click to sort by Title" width="40%">Title <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'title')}"></span>
								</th>
								<th (click)="sortResult('leadUnit',currentPosition)"
									title="Click to sort by Lead Unit">Lead Unit <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'leadUnit')}"></span>
								</th>
								<th (click)="sortResult('protocolType',currentPosition)"
									title="Click to sort by Protocol Type">Protocol Type <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'protocolType')}"></span>
								</th>
								<th (click)="sortResult('status',currentPosition)"
									title="Click to sort by Status">Status <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'status')}"></span>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="nullIacucData; else noNullIacucData">
								<td colspan=6>No Requests Found !</td>
							</tr>
							<tr #noNullIacucData
								*ngFor="let IACUCDetails of serviceRequestList">
								<td>{{IACUCDetails.protocolNumber}}</td>
								<td>{{IACUCDetails.title}}</td>
								<td>{{IACUCDetails.leadUnit}}</td>
								<td>{{IACUCDetails.protocolType}}</td>
								<td>{{IACUCDetails.status}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a title="Open {{IACUCDetails.protocolNumber}}"
											[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FiacucProtocolProtocol.do%3FmethodToCall%3DdocHandler%26docId%3D'+IACUCDetails.documentNumber+'%26command%3DdisplayDocSearchView%26businessObjectClassName%3Dorg.kuali.kra.iacuc.IacucProtocol%26docFormKey%3D88888888&__login_user='+userName+'&kcComp=true'"><i
												class="fa fa-eye"></i> </a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.result?.iacucViews?.length == 0"
						class="noDataOnChart">No IACUC data Found</div>
				</div>
			</div>
			<!-- DISCLOSURE -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="(currentPosition == 'DISCLOSURE')">
				<div class="row">
					<div
						class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-left">
						<span class="linkButtonGroup"> <a
							[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FcoiDisclosure.do%3FmethodToCall%3DdocHandler%26command%3Dinitiate%26docTypeName%3DCoiDisclosureDocument%26returnLocation%3D'+outputPath+'%252Fkc-krad%252FlandingPage%253FviewId%253DKc-LandingPage-RedirectView&methodToCall=start&__login_user='+userName+'&kcComp=true'"><i
								class="fa fa-plus"></i> Create Disclosure </a>
						</span>
					</div>
				</div>
				<div class="borderBox"
					*ngIf="((isAdmin==false) || (adminAdvanceSearch == true)) && (adminClear==false)">
					<table class="table table-responsive tableSkin"
						*ngIf="this.result?.disclosureViews?.length !== 0">
						<thead>
							<tr>
								<th (click)="sortResult('coiDisclosureNumber',currentPosition)"
									title="Click to sort by Disclosure">Disclosure <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'coiDisclosureNumber')}"></span>
								</th>
								<th (click)="sortResult('fullName',currentPosition)"
									title="Click to sort by Name" width="40%">Name <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'fullName')}"></span>
								</th>
								<th
									(click)="sortResult('disclosureDisposition',currentPosition)"
									title="Click to sort by Disclosure Disposition">Disclosure
									Disposition <span class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'disclosureDisposition')}"></span>
								</th>
								<th (click)="sortResult('moduleItemKey',currentPosition)"
									title="Click to sort by Disclosure Status">Disclosure
									Status <span class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'moduleItemKey')}"></span>
								</th>
								<th (click)="sortResult('status',currentPosition)"
									title="Click to sort by Module item key">Module item key <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'status')}"></span>
								</th>
								<th (click)="sortResult('expirationDate',currentPosition)"
									title="Click to sort by Expiration Date">Expiration Date <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'expirationDate')}"></span>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let DisclosureDetails of serviceRequestList">
								<td>{{DisclosureDetails.coiDisclosureNumber}}</td>
								<td>{{DisclosureDetails.fullName}}</td>
								<td>{{DisclosureDetails.disclosureDisposition}}</td>
								<td>{{DisclosureDetails.disclosureStatus}}</td>
								<td>{{DisclosureDetails.moduleItemKey}}</td>
								<td>{{DisclosureDetails.expirationDate}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a
											title="Open {{DisclosureDetails.coiDisclosureNumber}}"
											[href]="outputPath+'/kc-krad/landingPage?viewId=Kc-Header-IframeView&href='+outputPath+'%2FcoiDisclosure.do%3FdocId%3D'+DisclosureDetails.documentNumber+'%26docTypeName%3DCoiDisclosureDocument%26methodToCall%3DdocHandler%26command%3DdisplayDocSearchView&__login_user='+userName+'&kcComp=true'"><i
												class="fa fa-eye"></i> </a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.result?.disclosureViews?.length == 0"
						class="noDataOnChart">No Disclosure data Found</div>
				</div>
			</div>


			<!-- COMMITTEE -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="(currentPosition == 'COMMITTEE')">
				<div class="row">
					<div
						class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-left">
						<span class="linkButtonGroup"> <a title="Open"
							routerLink='/committee' [queryParams]="{mode:'create'}"><i
								class="fa fa-plus"></i> Create COMMITTEE</a>
						</span>
					</div>
				</div>
				<div class="borderBox"
					*ngIf="((isAdmin==false) || (adminAdvanceSearch == true)) && (adminClear == false)">
					<table class="table table-responsive tableSkin"
						*ngIf="this.result?.committees?.length !== 0">
						<thead>
							<tr>
								<th (click)="sortResult('committeeId',currentPosition)"
									title="Click to sort by Committee Id">Committee Id<span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'committeeId')}"></span>
								</th>
								<th (click)="sortResult('committeeName',currentPosition)"
									title="Click to sort by Name">Committee Name<span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'committeeName')}"></span>
								</th>
								<th (click)="sortResult('homeUnitNumber',currentPosition)"
									title="Click to sort by Lead Unit">Home Unit <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'homeUnitNumber')}"></span>
								</th>
								<th (click)="sortResult('homeUnitName',currentPosition)"
									title="Click to sort by Lead Unit">Unit Name <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'homeUnitNumber')}"></span>
								</th>
								<th
									(click)="sortResult('reviewTypeDescription',currentPosition)"
									title="Click to sort by Lead Unit">Review Type<span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'homeUnitNumber')}"></span>
								</th>
								<th (click)="sortResult('description',currentPosition)"
									title="Click to sort by Lead Unit">Committee Description <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'homeUnitNumber')}"></span>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let coommitteeDetails of serviceRequestList | slice:begin:end">
								<td width="8%">{{coommitteeDetails.committeeId}}</td>
								<td>{{coommitteeDetails.committeeName}}</td>
								<td>{{coommitteeDetails.homeUnitNumber}}</td>
								<td>{{coommitteeDetails.homeUnitName}}</td>
								<td>{{coommitteeDetails.reviewTypeDescription}}</td>
								<td>{{coommitteeDetails.description}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a title="Open" routerLink='/committee'
											[queryParams]="{mode:'view','id':coommitteeDetails.committeeId}"><i
												class="fa fa-eye"></i></a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.result?.committees?.length == 0"
						class="noDataOnChart">No Committee data Found</div>
				</div>
			</div>

			<!-- SCHEDULE -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="(currentPosition == 'SCHEDULE')">
				<div class="borderBox"
					*ngIf="((isAdmin==false) || (adminAdvanceSearch == true)) && (adminClear==false)">
					<table class="table table-responsive tableSkin"
						*ngIf="this.result?.committeeSchedules?.length !== 0">
						<thead>
							<tr>
								<td class="noDataOnChart filterElement">From :</td>
								<td class="filterElement"><input
									[owlDateTimeTrigger]="fltrStrDt" [owlDateTime]="fltrStrDt"
									[(ngModel)]="filterStartDate"
									class="committeeBox text-border-padding">&nbsp;<span
									class="fa fa-calendar fa-large"
									[owlDateTimeTrigger]="fltrStrDt"></span> <owl-date-time
										#fltrStrDt [pickerType]="'calendar'"></owl-date-time></td>
								<td class="noDataOnChart filterElement">To :</td>
								<td class="filterElement"><input
									[owlDateTimeTrigger]="fltrEndDt" [owlDateTime]="fltrEndDt"
									[(ngModel)]="filterEndDate"
									class="committeeBox text-border-padding">&nbsp;<span
									class="fa fa-calendar fa-large"
									[owlDateTimeTrigger]="fltrEndDt"></span> <owl-date-time
										#fltrEndDt [pickerType]="'calendar'"></owl-date-time></td>
								<td class="filterElement"><button type="button"
										class="btnSkin btnSkinPrimary" (click)="filterSchedule()">Filter</button></td>
								<td class="filterElement"><button type="button"
										class="btnSkin btn-secondary" (click)="resetFilterSchedule()">Clear</button></td>
							</tr>
							<tr>
								<td id="filterWarning" colspan="6"><span
									*ngIf="isFilterDatePrevious || isMandatoryFilterFilled == false"
									class="mandatory">{{filterValidationMessage}}</span></td>
							</tr>
							<tr>
								<th (click)="sortResult('scheduleId',currentPosition)"
									title="Click to sort by Schedule Id">Schedule Id<span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'scheduleId')}"></span>
								</th>
								<th (click)="sortResult('scheduledDate',currentPosition)"
									title="Click to sort by Schedule Date">Schedule Date<span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'scheduledDate')}"></span>
								</th>
								<th (click)="sortResult('place',currentPosition)"
									title="Click to sort by Place">Place <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'place')}"></span>
								</th>
								<th (click)="sortResult('protocolSubDeadline',currentPosition)"
									title="Click to sort by Deadline Date">Deadline <span
									class="sortorder"
									[ngClass]="{reverse:reverse, sortorder: (sortBy == 'protocolSubDeadline')}"></span>
								</th>
								<th>Schedule Status</th>
								<th>Committee Id</th>
								<th>Committee Name</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let schedule of serviceRequestList">
								<td>{{schedule.scheduleId}}</td>
								<td>{{schedule.scheduledDate}}</td>
								<td>{{schedule.place}}</td>
								<td>{{schedule.protocolSubDeadline}}</td>
								<td>{{schedule.scheduleStatus.description}}</td>
								<td>{{schedule.committeeId}}</td>
								<td>{{schedule.committeeName}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a title="Open" (click)="loadSchedules($event,schedule.scheduleId)"><i
												class="fa fa-eye pointer"></i></a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.result?.committeeSchedules?.length == 0"
						class="noDataOnChart">No Schedule data Found</div>
				</div>
			</div>
			<!-- Grant -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf="(currentPosition == 'GRANT')">
			<div class="row">
					
						<span class="linkButtonGroup" *ngIf = "isAdmin == true"> <a
							[href]="" (click)="loadGrants($event,'create')">
								<i class="fa fa-plus pointer" ></i> Create Grant
						</a>
						</span>
				</div>
				
				<div class="borderBox" *ngIf="serviceRequestList.length!=0">
					<table class="table table-responsive tableSkin" >
						<thead>
							
							
							<tr>
								<th (click)="sortResult('grantCallId',currentPosition)"
								title="Click to sort by Grant Id">Id<span  [ngClass]="{reverse:reverse, sortorder: (sortBy == 'grantCallId')}"></span>
								</th>
								<th >Name
								</th>
								<th>Description
								</th>
								<th (click)="sortResult('openingDate',currentPosition)"
								title="Click to sort by Opening Date">Opening Date <span
									  [ngClass]="{reverse:reverse, sortorder: (sortBy == 'openingDate')}" ></span>
								</th>
								<th (click)="sortResult('closingDate',currentPosition)"
								title="Click to sort by Closing Date">Closing Date  <span
								 [ngClass]="{reverse:reverse, sortorder: (sortBy == 'closingDate')}" ></span></th>
								<th (click)="sortResult('description',currentPosition)" title="Click to sort by Status">Status <span
						  [ngClass]="{reverse:reverse, sortorder: (sortBy == 'description')}" ></span></th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let grant of serviceRequestList">
								<td>{{grant.grantCallId}}</td>
								<td>{{grant.grantCallName}}</td>
								<td>{{grant?.description}}</td>
								<td>{{grant.openingDate}}</td>
								<td>{{grant.closingDate}}</td>
								<td>{{grant.grantCallStatus?.description}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a title="Open" (click)="viewGrantById($event,grant.grantCallId)" class="pointer"><i
												class="fa fa-eye pointer"></i></a></li>

										
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.result?.committeeSchedules?.length == 0"
						class="noDataOnChart">No Schedule data Found</div>
				</div>
			</div>

			<!-- SMU_PROPOSAL -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf="(currentPosition == 'SMU_PROPOSAL')">
				<div class="row">
					<div
						class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-left">
						<span class="linkButtonGroup"> <a title="Open"
							routerLink='/proposal' [queryParams]="{mode:'create'}"><i
								class="fa fa-plus"></i> Create Application</a>
						</span>
					</div>
						
				</div>
				
				<div class="borderBox" *ngIf="serviceRequestList.length!=0">
					<table class="table table-responsive tableSkin">
						<thead>
							
							
							<tr>
								<th (click)="sortResult('proposalId',currentPosition)"
								title="Click to sort by Application Id">Id<span   [ngClass]="{reverse:reverse, sortorder: (sortBy == 'proposalId')}" ></span>
								</th>
								<th >Name
								</th>
								<th (click)="sortResult('startDate',currentPosition)"
								title="Click to sort by Application Id">Opening Date <span  [ngClass]="{reverse:reverse, sortorder: (sortBy == 'startDate')}"></span>
								</th>
								<th (click)="sortResult('endDate',currentPosition)"
								title="Click to sort by End Date">Closing Date<span  [ngClass]="{reverse:reverse, sortorder: (sortBy == 'endDate')}"></span></th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let proposal of serviceRequestList">
								<td>{{proposal.proposalId}}</td>
								<td>{{proposal.title}}</td>
								<td>{{proposal.startDate}}</td>
								<td>{{proposal.endDate}}</td>
								<td>{{proposal.proposalStatus?.description}}</td>
								<td>
									<ul class="actionButtonGroup">
										<li><a title="Open"  class="pointer" (click)="viewProposalById($event,proposal.proposalId,proposal.grantCallId)"><i
												class="fa fa-eye pointer"></i></a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>

			<!-- GRANT REPORTS -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
			*ngIf="(currentPosition == 'GRANTREPORT')">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div  class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
					<div class="borderBox" >
						<label>Report Name : </label>
								<select [(ngModel)] = "selectedReportName" (change)="reportNameChange()"  class = "committeeBox">
									<option>Select</option>
									<option>Submitted Applications by Grant</option>
									<option>Awards by Grant</option>
									<option>Expenditure by Award</option>
								</select>
						</div>
					</div>
					<div  class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
						<div class="borderBox" *ngIf="openGrantList.length!=0">
								<label>Grant : </label>
										<ng2-completer  title="Search grant" 
															[inputClass]="completerID"
															[(ngModel)]="selectedGrantId" placeholder="Search by Id or Name"
															[datasource]="openGrantList" [minSearchLength]="0"
															(selected)="grantIdChange()"  class="widthLimiterNg2Completer p-0 border-0"></ng2-completer>
									
								
								</div>
								</div>
								<div class="col-xl-5 col-xl-offset-5 col-lg-5 col-md-5 col-sm-5 col-5" *ngIf="reportObject!=null">
										<div class="borderBox" ><br/>
											<span>{{selectedReportName}} {{reportObject.grantCallId}} :&nbsp;{{reportObject.proposalCount}}</span>
									</div>
									</div>
							</div>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="reportObject!=null">
					<div class="borderBox">
						<table class="table table-responsive tableSkin">
								<thead>
									<tr>
										<th (click)="sortResult('proposalId',currentPosition)"
										title="Click to sort by Application Id">Id<span   [ngClass]="{reverse:reverse, sortorder: (sortBy == 'proposalId')}" ></span>
										</th>
										<th >Name
										</th>
										<th (click)="sortResult('startDate',currentPosition)"
										title="Click to sort by Application Id">Opening Date <span  [ngClass]="{reverse:reverse, sortorder: (sortBy == 'startDate')}"></span>
										</th>
										<th (click)="sortResult('endDate',currentPosition)"
										title="Click to sort by End Date">Closing Date<span  [ngClass]="{reverse:reverse, sortorder: (sortBy == 'endDate')}"></span></th>
										<th>Lead Unit</th>
										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let proposal of proposals">
										<td>{{proposal.proposalId}}</td>
										<td>{{proposal.title}}</td>
										<td>{{proposal.startDate}}</td>
										<td>{{proposal.endDate}}</td>
										<td>{{proposal.grantCall.homeUnitName}}</td>
										<td>{{proposal.proposalStatus?.description}}</td>
										<td>
											<ul class="actionButtonGroup">
												<li><a title="Open"  class="pointer" (click)="viewProposalById($event,proposal.proposalId,proposal.grantCallId)"><i
														class="fa fa-eye pointer"></i></a></li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
				

						
			</div>

			
			

			<!-- Pagination -->

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
				*ngIf="(currentPosition != 'SUMMARY') && ((isAdmin==false) || (adminAdvanceSearch == true)) && ((serviceRequestList != null) && (serviceRequestList?.length != 0)) && (adminClear==false)">
				<div class="text-right pagiSkin">
					<nav class="paginationSkin text-right" href="#scrollToTop"
						pageScroll [pageScrollSpeed]="400">
						<ngb-pagination [boundaryLinks]="true"
							[collectionSize]="totalPage" [(page)]="currentPage"
							currentPage=page [pageSize]="pageNumber" [maxSize]="3"
							[rotate]="true" (pageChange)="pageChange(currentPage)">
						</ngb-pagination>
					</nav>
				</div>
			</div>
		</section>
		<div class="footerPush"></div>
	</div>
</div>
