<div class="push4slideMenu  pageMinHeight" id="scrollToTop">
	<div class="container-fluid pushFixedHeaderFooter">
        <div class="headerPush"></div>
		<section class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<br>
				<div class="row">
					<div class="col-6 text-left"><span >Grant Call#<span *ngIf="grantId!=null">{{grantId}}</span></span></div>
					<div class="col-6 text-right ">
					<span *ngIf="result?.grantCall?.grantCallStatus?.description == 'Open'" class = "grantCall_create_proposal_link">
					<button class="grantCallCreateProposalLink bg-white" (click)="navigate($event, 'create')">Create Proposal</button>
					</span>&nbsp;<i class="fa fa-bell fa-large mr-4 fibiDefaultColor"></i></div>
				</div>
				<br>
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
						<div class="borderBox">
							<h4 class="borderBoxHeading">Overview</h4> <p *ngIf = "showWarning"><span class="mandatory warningMessage">*Please fill all the mandatory fields marked</span></p>
							<p class="float-right" *ngIf = "showSavedSuccessfully"><span class="mandatory warningMessage">Saved Successfully</span></p>
							<div class="pullSide">
								<table class="table tableSkin grid2">
									<tbody>
										<tr>
											<td ><label><span class="mandatory">*</span>Type:</label><br><select *ngIf="mode!='view'; else view_type" [(ngModel)]="grantCallTypeSelected" [ngClass]="editClass"  [disabled]="mode == 'view' ? true : false" (change) = "grantCallTypeChange($event.target.value)">
												<option>Select</option>
												<option *ngFor="let type of result?.grantCallTypes" (value)="type">
												{{type.description}}
											</option>
											</select>
											<ng-template #view_type>{{result?.grantCall?.grantCallType?.description}}</ng-template>
											</td>
											<td><label><span class="mandatory">*</span>Status:</label><br> 
												<span *ngIf = "result?.grantCall?.grantCallId!=null;else view_status">&nbsp;&nbsp;{{result?.grantCall?.grantCallStatus?.description}}</span>
												<ng-template #view_status>{{result?.grantCall?.grantCallStatus?.description}}</ng-template>
											</td>
											<td><label><span class="mandatory">*</span>Opening Date:</label><br><input type="text" placeholder="Opening Date" [(ngModel)] = "result.grantCall.openingDate" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false" [owlDateTimeTrigger]="openingDt" [owlDateTime]="openingDt"  class="committeeBox "/>&nbsp;
												<span *ngIf="mode != 'view'" class="fa fa-calendar fa-large pointer" [owlDateTimeTrigger]="openingDt"></span> <owl-date-time #openingDt [pickerType]="'calendar'" (afterPickerClosed)="dateValidation()" ></owl-date-time></td>
												<td><label><span class="mandatory">*</span>Closing Date:</label><br><input type="text" placeholder="Closing Date" [(ngModel)] = "result.grantCall.closingDate" [ngClass]="editClass"  [disabled]="mode == 'view' ? true : false" [owlDateTimeTrigger]="closingDt" [owlDateTime]="closingDt"  class="committeeBox "/>&nbsp;
													<span *ngIf="mode != 'view'" class="fa fa-calendar fa-large pointer" [owlDateTimeTrigger]="closingDt"></span> <owl-date-time #closingDt [pickerType]="'calendar'" (afterPickerClosed)="dateValidation()"></owl-date-time></td>
										</tr>
										<tr  *ngIf="isDateWarningText"><span class="mandatory font">*{{dateWarningText}}</span>

										</tr>
										<tr>
											<td colspan="1"><label><span class="mandatory">*</span>Name:</label><br><input type="text" placeholder="Name" [(ngModel)] = "result.grantCall.grantCallName" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false"/></td>
											<td><label>Home Units:</label>&nbsp;&nbsp;<br>
												<ng2-completer *ngIf="mode!='view'" title="Add Unit" 
													[inputClass]="completerID"
													[(ngModel)]="selectedHomeUnit" placeholder="Home Units"
													[datasource]="homeUnits" [minSearchLength]="0"
													(selected)="homeUnitChangeFunction()"  class="widthLimiterNg2Completer" class="p-0 border-0" [disabled]="mode == 'view' ? true : false"></ng2-completer></td>
											<td colspan="2"><label><span class="mandatory">*</span>Description:</label><br><textarea  placeholder = "Description" [(ngModel)] = "result.grantCall.description" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td ><label><span class="mandatory">*</span>Max Budget (SGD):</label><br><input type="number" placeholder="Max Budget" [(ngModel)] = "result.grantCall.maximumBudget" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false"/></td>
                                            <td ><label>Quantum:</label><br><input type="number" [(ngModel)] = "result.grantCall.quantum" placeholder="Quantum"  [ngClass]="editClass" [disabled]="mode == 'view' ? true : false"/></td>
											<td colspan="2"><label>Keywords:</label>&nbsp;&nbsp;<br>
												<ng2-completer *ngIf="mode!='view'" title="Add Keyword" 
													[inputClass]="completerID"
													[(ngModel)]="selectedKeyword" placeholder="Keyword"
													[datasource]="keywordsList" [minSearchLength]="0"
													(selected)="keywordChangeFunction()"  class="widthLimiterNg2Completer" class="p-0 border-0" [disabled]="mode == 'view' ? true : false"></ng2-completer>
													<ul *ngIf="result?.grantCall?.grantCallKeywords?.length!=0" class="d-inline-flex" style="word-break: break-all;"><li *ngFor="let keyword of result?.grantCall?.grantCallKeywords;let i = index" class="pr-4"><span class="border border-1 rounded">{{keyword.scienceKeyword.description}}</span>&nbsp;<i class="fa fa-times pointer" *ngIf="mode != 'view'" (click)="deleteKeyword(keyword,i)"></i>&nbsp;</li></ul>
											</td>
										<!-- List for showing added keywords -->
										
										</tr>
										<tr  *ngIf="keyWordWarningMessage!=null"><td><span class="mandatory">*{{keyWordWarningMessage}}</span></td></tr>
										
                                        <tr>
                                            <td colspan="2"><label>Application Procedure:</label><br><textarea placeholder = "Procedure Details" [(ngModel)] = "result.grantCall.applicationProcedure" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false"></textarea></td>
                                            <td colspan="2"><label>Other Information:</label><br><textarea placeholder = "Other informaton" [(ngModel)] = "result.grantCall.otherInformation" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false"></textarea></td>
                                        </tr>
                                        <tr *ngIf="grantCallTypeSelected == 'External'">
                                        	<td colspan="8"><label>External Weblink:</label><br><input type="text" placeholder="Web Link" [(ngModel)] = "result.grantCall.externalUrl" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false"/></td> 
                                        </tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="borderBox col-12">
					<h4 class="borderBoxHeading">Point of Contact</h4>
					<button id="pointOfContactAddBtn" class="addBtn font hoverColor" (click)="showaddPointOfContact()" *ngIf="mode != 'view'">
						<i class="fa fa-plus"></i>
					</button>
					<table class="table table-responsive tableSkin grid2">
						<tr id="addPointOfContactRow" *ngIf="showAddPointOfContact">
							<td>
								<label>
									Name:
								</label> <br>
								<input type="text" [ngClass]="editClass" placeholder="Name" [(ngModel)] = "pointOfContactObject.fullName" [disabled]="mode == 'view' ? true : false">
								
							</td>
							<td>
								<label>
									Designation:
								</label> <br>
								<input type="text" [ngClass]="editClass" placeholder="Designation" [(ngModel)] = "pointOfContactObject.designation" [disabled]="mode == 'view' ? true : false">
							</td>
							<td>
								<label>
									Email:
								</label> <br>
								<input type="text" [ngClass]="editClass" placeholder="Email" [(ngModel)] = "pointOfContactObject.email" [disabled]="mode == 'view' ? true : false" >
							</td>
							<td>
								<label>
									Phone:
								</label> <br>
								<input type="number" [ngClass]="editClass" placeholder="Phone" [(ngModel)] = "pointOfContactObject.mobile" [disabled]="mode == 'view' ? true : false">
							</td>
							<td colspan="2">
								<button class="btnSkin btnSkinPrimary"  (click)="addPointOfContact(pointOfContactObject)">Add</button>
							</td>
						</tr>
						
						<tr *ngIf="this.result?.grantCall?.grantCallContacts?.length!=0">
							<th title="Click to sort by Sl no">Sl No</th>
							<th title="Click to sort by Name">Name</th>
							<th title="Click to sort by Designation">Designation</th>
							<th title="Click to sort by Email">Email</th>
							<th title="Click to sort by Phone">Phone</th>
							<th title="" *ngIf="mode != 'view'">Action</th>

						</tr>
						<tr *ngFor = "let pointOfContact of result?.grantCall?.grantCallContacts; let i = index">
                            <td>{{i+1}}</td>
							<td>{{pointOfContact.fullName}}</td>
							<td>{{pointOfContact.designation}}</td>
							<td>{{pointOfContact.email}}</td>
							<td>{{pointOfContact.mobile}}</td>
							<td *ngIf="mode != 'view'">
								<ul class="actionButtonGroup">
									<li><a href="#" data-toggle="modal"
										data-target="#deletePointOfContact"
										(click)="tempSavePointOfContact($event,pointOfContact,i)"><i
											class="fa fa-trash-o pointer" aria-hidden="true"></i></a></li>
								</ul>
							</td>
							
						</tr>
						<div *ngIf="!valid"><span class="mandatory warningMessage">*{{validationError}}</span></div>
						<tr *ngIf="pocDuplicationMessage"><span class="mandatory warningMessage">*Email already added</span></tr>
					</table> 
                                </div>
                                <div class="borderBox">
                                                <h4 class="borderBoxHeading">Funding Agency Information</h4>
                                                <div class="pullSide">
                                                        <table class="table tableSkin grid2">
                                                                <tbody>
                                                                   <tr *ngIf="mode!=view && this.result?.grantCall?.sponsor==null || mode==view && this.result?.grantCall?.sponsor!=null || mode!=view && this.result?.grantCall?.sponsor!=null">
                                                                          <td><label> Type:</label><br>
																				<select *ngIf="mode!='view';else view_sponsorType" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false" (change) = "sponsorTypeChange($event.target.value)" [(ngModel)] = "selectedSponsorType">
																					<option *ngFor="let type of this.result?.sponsorTypes" (value)="type">
																					{{type.description}}
																				</option>
																			</select>
																			<ng-template #view_sponsorType>{{result?.grantCall?.sponsorType?.description}}</ng-template>
																				</td>
																		 <td ><label>Name:</label><br> <select *ngIf="mode!='view';else view_sponsorName" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false" [(ngModel)] = "selectedSponsor"  (change) = "sponsorNameChange($event.target.value)" >
																			<option *ngFor="let sponsor of this.sponsorList" (value)="sponsor" >
																				{{sponsor.sponsorName}}
																			</option>
																			</select>
																		<ng-template #view_sponsorName>{{result?.grantCall?.sponsor?.sponsorName}}</ng-template></td>
                                                                          <td><label>Research Type:</label><br>
								                                           <select *ngIf="mode!='view';else view_researchType" [ngClass]="editClass" [disabled]="mode == 'view' ? true : false" (change)="researchTypeChange($event.target.value)" [(ngModel)] = "selectedActivityType">
																			
																			<option *ngFor="let type of this.result?.activityTypes" (value)="type" >
																				{{type.description}}
																			</option>
																			</select>
																			<ng-template #view_researchType>{{result?.grantCall?.activityType.description}}</ng-template>
																				</td>
                                                                          <td><label>Funding Type:</label><br>
                                                                         <select [ngClass]="editClass"  *ngIf="mode!='view';else view_fundingType" [disabled]="mode == 'view' ? true : false" (change)="fundingTypeChange($event.target.value)" [(ngModel)] = "selectedFundingType">
																			
																			<option *ngFor="let type of this.result?.fundingSourceTypes" (value)="type">
																		{{type.description}}
																	</option>
																	</select>
																	<ng-template #view_fundingType>{{result?.grantCall?.fundingSourceType.description}}</ng-template>
																		</td>
                                                                   </tr>
                                                                </tbody>
                                                        </table>
                                                      
                                                </div>
                                 </div>   
                                 
                                         <div class="row">
                                                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="borderBox">

                                                                <h4 class="borderBoxHeading">Area of Research</h4>
                                                                <button id="areaOfResearchAddBtn" class="addBtn font hoverColor" (click)="showaddAreaOfResearch()" *ngIf="mode != 'view'">
																	<i class="fa fa-plus"></i>
																</button>
                                                                
                                                                <table class="table table-responsive tableSkin">
                                                                	<tr id="addAreaOfResearchRow" *ngIf="addResearch">
																			<td>Area of Research</td>
																			<td colspan="2">
																				<div>
																					 <ng2-completer title="Add area of research"
																						[inputClass]="completerID"
																						[(ngModel)]="selectedResearchArea" placeholder="Area Name"
																						[datasource]="areaList" [minSearchLength]="0"></ng2-completer> 
																						
																				</div>
																			</td>
																			<td>
																				<button class="btnSkin btnSkinPrimary" (click)="addResearchArea()">Add</button>
																			</td>
																		</tr>
                                                                
                                                                        <tr *ngIf = "result?.grantCall?.grantCallResearchAreas?.length!=0">
                                                                                <th title="Click to sort by Sl no">Sl no</th>
                                                                                <th title="Click to sort by Research Area Code">Research Area Code</th>
                                                                                <th title="Click to sort by Code/Description">Code/Description</th>
                                                                                <th title="" *ngIf="mode != 'view'">Action</th>
                                                                        </tr>
                                                                        <tr *ngFor="let researchArea of this.result?.grantCall?.grantCallResearchAreas;let i = index">
                                                                                <td>{{i+1}}</td>
                                                                                <td>{{researchArea.researchAreaCode}}</td>
                                                                                <td>{{researchArea.researchArea.description}}</td>
                                                                                <td *ngIf="mode != 'view'"><ul class="actionButtonGroup">
																						<li><a href="#" data-toggle="modal"
																							data-target="#deleteResearchArea"
																							(click)="tempSaveResearchAreaObject($event,researchArea)"><i
																								class="fa fa-trash-o pointer" aria-hidden="true"></i></a></li>
																					</ul>
																				</td>
																		</tr>
																		<tr *ngIf = "areaWarning"><td><span class="warningMessage mandatory">*Research area already added</span></td></tr>
                                                                </table>
                                                        </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                        <div class="borderBox">
                        
                                                                        <h4 class="borderBoxHeading">Eligibility</h4>
                                                                        <button id="areaOfResearchAddBtn" class="addBtn font hoverColor" (click)="showaddEligibility()" *ngIf="mode != 'view'">
																			<i class="fa fa-plus"></i>
																		</button>
                                                                        <table class="table table-responsive tableSkin">
                                                                        		<tr id="addEligibilityRow" *ngIf="isEligibleAddopen">
																					<td><label>Criteria:</label></td>
																					<td><select class="committeeBox" [(ngModel)] = "selectedCriteria">
																						<option>Select</option>
																								<option *ngFor="let criteria of result?.grantCallCriterias">{{criteria.description}}</option>
																						</select></td>
																					<td><label>Type:</label></td>
																					<td><select class="committeeBox" [(ngModel)] = "selectedEligibilityType" >
																							<option>Select</option>
																								<option *ngFor="let type of result?.grantCallEligibilityTypes">{{type.description}}</option>
																								
																						</select>
																					</td>
																					<td>
																						<button class="btnSkin btnSkinPrimary" (click)="addEligibility()">Add</button>
																					</td>
																				</tr>
                                                                                <tr *ngIf="result?.grantCall?.grantCallEligibilities?.length!=0">
                                                                                        <th title="Click to sort by Sl no">Sl no</th>
                                                                                        <th title="Click to sort by Criteria">Criteria</th>
                                                                                        <th title="Click to sort by Type" colspan="2">Type</th>
                                                                                        <th title="" *ngIf="mode != 'view'">Action</th>
                                                                                </tr>
                                                                                <tr *ngFor="let eligibility of  result?.grantCall?.grantCallEligibilities;let i = index">
                                                                                        <td>{{i+1}}</td>
                                                                                        <td>{{eligibility?.grantCallCriteria?.description}}</td>
                                                                                        <td colspan="2">{{eligibility?.grantCallEligibilityType?.description}}</td>
                                                                                        <td *ngIf="mode != 'view'"><ul class="actionButtonGroup">
																								<li><a href="#" data-toggle="modal"
																									data-target="#deleteEligibility"
																									(click)="tempSaveEligibilityObject($event,eligibility,i)"><i
																										class="fa fa-trash-o pointer" aria-hidden="true"></i></a></li>
																							</ul>
																						</td>
																				</tr>
																				<tr *ngIf = "eligibilityWarning"><td><span class="mandatory warningMessage">*Eligibility already added</span></td></tr>
                                                                                
                                                                        </table>
                                                                </div>
                                                                </div>
                                                        </div>
                                                        <div class="borderBox col-12" *ngIf = "result?.grantCall?.grantCallStatus?.description !='Open'  && result?.grantCall?.grantCallAttachments?.length!=0 || result?.grantCall?.grantCallStatus?.description !='Open'  && result?.grantCall?.grantCallAttachments?.length==0 || result?.grantCall?.grantCallStatus?.description =='Open'  && result?.grantCall?.grantCallAttachments?.length!=0; else showNoAttachments">
                                                                        <h4 class="borderBoxHeading">Supporting Documents</h4>
                                                                        <button title="add new attachment" class="addBtn font hoverColor" (click)="showAddAttachmentPopUp($event)" *ngIf="mode != 'view'" data-toggle="modal" data-target="#addAttachment">
																				<i class="fa fa-plus"></i>&nbsp;<span>Add Attachment</span>
																			</button>
                                                                        <table class="table table-responsive tableSkin">
                                                                                <tr *ngIf = "result?.grantCall?.grantCallAttachments?.length!=0">
                                                                                        <th title="Click to sort by Sl no">Sl No</th>
                                                                                        <th title="Click to sort by Name">Attachment Type</th>
                                                                                        <th title="Click to sort by Designation">Description</th>
                                                                                        <th title="Click to sort by Email">File Name</th>
                                                                                        <th title="" *ngIf="mode != 'view'">Action</th>
                                                                                </tr>
                                                                                <tr *ngFor = "let attachment of this.result?.grantCall?.grantCallAttachments;let i = index">
                                                                                        <td>{{i+1}}</td>
                                                                                        <td>{{attachment?.grantCallAttachType?.description}}</td>
                                                                                        <td>{{attachment?.description}}</td>
                                                                                        <td>{{attachment?.fileName}}</td>
	                                                                                    <td ><ul class="actionButtonGroup">
																								<li *ngIf="mode != 'view'"><a (click)="tempSaveAttachments($event,attachment,i)" *ngIf="editScheduleattachment == true" 
																									data-toggle="modal" data-target="#deleteAttachment"><i
																										class="fa fa-trash-o"></i></a></li>
																								<li><a  (click)="downloadAttachments($event, attachment)" title="Open"> <i class="fa fa-download pointer" aria-hidden="true"></i></a></li>
																							</ul>
                                                                                		</td>
																				</tr>
                                                                        </table>
																</div>
																
                                                                <div class="col-12 text-right" *ngIf="mode != 'view'">
																		<p class="mandatory warningMessage" *ngIf="saveSuccessfulMessage!=null"> {{saveSuccessfulMessage}}</p>
                                                                	<button type="button" class="btnSkin btnPublish" (click) = "showPublishWarning = true" data-toggle="modal" data-target="#publishWarning" href="#scrollToTop"  [disabled] = "result.grantCall.grantCallId ==null" *ngIf="result?.grantCall?.grantCallId !=null">Publish</button>
																	<button type="button" class="btnSkin btnSkinPrimary" (click)="saveGrant()" href="#scrollToTop">Save</button>
																	
																</div>
																
                              
			</div>
		</section>
		<div class="footerPush"></div>
	</div>
</div>

<!-- ADD ATTACHMENT MODAL -->
<div class="modal fade mySkinDialog modalFallBack" id="addAttachment"
		tabindex="-1" role="dialog" aria-labelledby="skippedSchedulesTitle"
		aria-hidden="true" *ngIf="showAddAttachment">
		<div class="modal-dialog modal-lg modal-dialog-centered"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="skippedSchedulesLongTitle">Add
						Attachment</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" (click)="showAddAttachment = false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-responsive tableSkin">
						<tr *ngIf="showAddAttachment">
							<td class="noData filterElement">Add :</td>
							<td class="filterElement"><span class="mandatory">*</span> 
							<select class="committeeBox" (change)="attachmentTypeChange($event.target.value)">
								<option>Select</option>
								<option *ngFor="let attachType of this.result?.grantCallAttachTypes" (value)="attachType">
									{{attachType.description}}
								</option>
							</select>
							</td>
							<td class="filterElement"><textarea id="desc" [(ngModel)] = "attachmentDescription" placeholder="Description" class="scheduleBoxes"></textarea></td>
						</tr>
					</table>

					<file-drop headertext="Drop files here"
						(onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
						(onFileLeave)="fileLeave($event)"> <input type="file"
						#file (change)="onChange(file.files)" multiple /> OR &nbsp;&nbsp;
					</file-drop>
					<ul>
						<li *ngFor="let item of uploadedFile; let i=index">
						<span>{{ item.name }}----------------</span><i class="fa fa-trash-o pointer" (click)="deleteFromUploadedFileList(item)"></i>
						</li>
					</ul>
					<div *ngIf="attachmentWarning"><span class="mandatory font">*File already added</span></div>
					<div *ngIf="attachmentTypeWarning"><span class="mandatory font">*Please fill the mandatory field</span></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnSkin btn-secondary" data-dismiss="modal" (click)="closeAttachments()">Close</button>
					<button type="button" class="btnSkin btnSkinPrimary" (click)="addAttachments()"  >Add</button>
				</div>
			</div>
		</div>
	</div>

<!-- DELETE ATTACHMENT WARNING MODAL -->
	<div class="modal fade mySkinDialog modalFallBack" *ngIf="showDeleteAttachment" tabindex="-1"
		id="deleteAttachment" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Want to delete?</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this item?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnSkin btn-secondary"
						data-dismiss="modal" data-toggle="modal" (click)="showDeleteAttachment = false">No</button>
					<button type="button" class="btnSkin btnSkinPrimary"
						(click)="deleteAttachments($event)" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>


	<!-- DELETE ELIGIBILITY WARNING MODAL -->
	<div class="modal fade mySkinDialog modalFallBack" *ngIf="showDeleteEligibility" tabindex="-1"
		id="deleteEligibility" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Want to delete?</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this item?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnSkin btn-secondary"
						data-dismiss="modal" data-toggle="modal" (click)="showDeleteEligibility = false">No</button>
					<button type="button" class="btnSkin btnSkinPrimary"
						(click)="deleteEligibility($event)" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- DELETE RESEARCH AREA WARNING MODAL -->
	<div class="modal fade mySkinDialog modalFallBack" *ngIf="showDeleteResearchArea" tabindex="-1"
		id="deleteResearchArea" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Want to delete?</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this item?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnSkin btn-secondary"
						data-dismiss="modal" data-toggle="modal" (click)="showDeleteResearchArea = false">No</button>
					<button type="button" class="btnSkin btnSkinPrimary"
						(click)="deleteResearchArea($event)" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- DELETE POINT OF CONTACT WARNING MODAL -->
	<div class="modal fade mySkinDialog modalFallBack" *ngIf="showDeletePOC" tabindex="-1"
		id="deletePointOfContact" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Want to delete?</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this item?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnSkin btn-secondary"
						data-dismiss="modal" data-toggle="modal" (click)="showDeletePOC = false">No</button>
					<button type="button" class="btnSkin btnSkinPrimary"
						(click)="deletePointOfContact($event)" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- PUBLISH GRANT WARNING MODAL -->
	<div class="modal fade mySkinDialog modalFallBack" *ngIf="showPublishWarning" tabindex="-1"
		id="publishWarning" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Want to Publish?</h5>

					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to publish this grant?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btnSkin btn-secondary"
						data-dismiss="modal" data-toggle="modal" (click)="showPublishWarning = false">No</button>
					<button type="button" class="btnSkin btnSkinPrimary"
						(click)="publishCall()" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>
	