 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                        <ul class="tree">
                            <li class="parent">
                                <a href="#">02657-00001</a>
                                <ul>
                                    <li><a href="#">02657-::ALAN MCAFEE</a></li>
                                    <li><a href="#" class="current">02657-::ALAN MCAFEE</a></li>
                                    <li><a href="#">02657-::ALAN MCAFEE</a></li>
                                </ul>
                            </li>
                        </ul>
                           
                        </div>
                    
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                         <label><strong>Budget Overview</strong></label><br>
                           <div class="set">

                                <div class="setHead">
                                    <a href="#"><i class="fa fa-chevron-circle-up"></i></a> <span>Version 3, Active</span>
                                </div>
                                <div class="setBody">
                                    <div class="row">
                                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>Budget Version :</label><span> 3</span>
                                        
                                    </p>
                                </div>
                                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>Budget Start :</label><span> 10/10/2016</span>
                                        
                                    </p>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>Budget End :</label><span> 10/10/2017</span>
                                        
                                    </p>
                                </div>
                               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>Budget Type :</label><span> New</span>
                                        
                                    </p>
                                </div>
                                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>Budget Status :</label><span> Active</span>
                                        
                                    </p>
                                </div>
                              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>On/Off Campus :</label><span> On</span>
                                        
                                    </p>
                                </div>
                               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>Direct Cost :</label><span> $5000</span>
                                        
                                    </p>
                                </div>
                              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>F&A :</label><span> $3000</span>
                                        
                                    </p>
                                </div>
                             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>F&A Rate Type :</label><span> MTDC</span>
                                        
                                    </p>
                                </div>
                               <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                                     <p>
                                        <label>Description :</label><span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ..</span>
                                        
                                    </p>
                                </div>
                               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                     <p>
                                        <label>Last Updated :</label><span> 10/01/2016 by John</span>
                                        
                                    </p>
                                </div>

                                </div>

                                    
                                </div>
                           </div>
                          
                            <div class="set">
                                <div class="setHead">
                                    <a href="#"><i class="fa fa-chevron-circle-up"></i></a><span>Version 2, Active</span>
                                </div>
                                <div class="setBody">
                                    
                                    
                                    
                                </div>
                            </div>
                            <div class="set">
                                <div class="setHead">
                                   <a href="#"><i class="fa fa-chevron-circle-up"></i></a> <span>Version 1, Active</span>
                                </div>
                                <div class="setBody">
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>